doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
        <link href="https://fonts.googleapis.com/css?family=Poppins:400&display=swap" rel="stylesheet">
    body
        nav.menu
            
            a#i-0.menu__item
                div.menu__c.menu__c--top
                    span.menu__text HOME
                    img.menu__icon(src="home.svg")
                div.menu__c
                    img.menu__icon(src="home.svg")
            a#i-1.menu__item
                div.menu__c.menu__c--top
                    span.menu__text LIKES
                    img.menu__icon(src="likes.svg")
                div.menu__c
                    img.menu__icon(src="likes.svg")
            a#i-2.menu__item
                div.menu__c.menu__c--top
                    span.menu__text PROFILE
                    img.menu__icon(src="profile.svg")
                div.menu__c
                    img.menu__icon(src="profile.svg")
            a#i-3.menu__item
                div.menu__c.menu__c--top
                    span.menu__text SHARE
                    img.menu__icon(src="share.svg")
                div.menu__c
                    img.menu__icon(src="share.svg")

            div#active-1.active
            div#active-2.active
            div#active-3.active
                
                
        script(src="main.js")
        
