/* Variables */
$blue: #004FF0;
$white: #ffffff;
/* Reset */
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Generic */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: $blue;
    user-select: none;
}
a{
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    color: $blue;
    letter-spacing: .25px;
}
/**/
#active-1,
#active-2,
#active-3{
    position: absolute;
    bottom: -22px;
    left: -100px;
    height: 30px;
    width: 30px;
    background: $blue;
    border-radius: 50%;
    transition: .5s ease-in-out;
}
#active-2{ transition-delay: .02s;}
#active-3{ transition-delay: .04s;}
/**/
.menu{
    display: flex;
    align-items: center;
    position: relative;
    width: 260px;
    height: 65px;
    overflow: hidden;
    background: $white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(black, .25);

    &__item{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 10px;
        overflow: hidden;
    }
    &__c{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        transform: translateY(-40px);
        &:hover{ animation: item .25s ease-in-out 1; }
        &--top{ &:hover{ animation: none; } }
    }
    &__icon{
        width: 22px;
        height: 22px;
        object-fit: contain;
    }
}
/**/
.is-c-translate{
    transform: translateY(0px);
    transition: .5s ease-in-out .1s;
}
@keyframes item {
    0%, 100%{ transform: translateY(-40px);}
    50%{ transform: translateY(-36px);}
}
