doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        meta(charset="utf-8")
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap" rel="stylesheet">
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        div.main
            div.bow
                div.bow__base
                div.bow__top
                div.bow__bottom
                    
                div.rope
                    div.rope__top
                    div.rope__bottom

            div.arrow
                div.arrow__line
                div.arrow__head
                div.arrow__top
                div.arrow__bottom
                    
            div.line.line-1
            div.line.line-2
                    
            div.wall
                
