doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body
        
        div.main
            div.shadows
                div.shadow-a
                div.shadow-b
                div.shadow-c
            div.taxi
                div.base-a.face
                    div.base-a__front.face 
                    div.base-a__back.face 
                    div.base-a__right.face 
                    div.base-a__left.face 
                    div.base-a__top.face 
                    div.base-a__bottom.face 
                div.base-b.face
                    div.base-b__front.face 
                    div.base-b__back.face 
                    div.base-b__right.face 
                        div.light.face
                            div.light__front.face 
                            div.light__back.face 
                            div.light__right.face 
                            div.light__left.face 
                            div.light__top.face 
                            div.light__bottom.face 
                        div.light.face
                            div.light__front.face 
                            div.light__back.face 
                            div.light__right.face 
                            div.light__left.face 
                            div.light__top.face 
                            div.light__bottom.face 
                        div.metal.face
                            div.metal__front.face 
                            div.metal__back.face 
                            div.metal__right.face 
                            div.metal__left.face 
                            div.metal__top.face 
                            div.metal__bottom.face 
                    div.base-b__left.face 
                    div.base-b__top.face 
                    div.base-b__bottom.face   
                    
                div.base-lines  
                    div.base-v.face
                        div.base-v__front.face 
                        div.base-v__back.face 
                        div.base-v__right.face 
                        div.base-v__left.face 
                        div.base-v__top.face 
                        div.base-v__bottom.face 
                    div.base-v.face
                        div.base-v__front.face 
                        div.base-v__back.face 
                        div.base-v__right.face 
                        div.base-v__left.face 
                        div.base-v__top.face 
                        div.base-v__bottom.face 
                    div.base-v.face
                        div.base-v__front.face 
                        div.base-v__back.face 
                        div.base-v__right.face 
                        div.base-v__left.face 
                        div.base-v__top.face 
                        div.base-v__bottom.face 
                    div.base-v.face
                        div.base-v__front.face 
                        div.base-v__back.face 
                        div.base-v__right.face 
                        div.base-v__left.face 
                        div.base-v__top.face 
                        div.base-v__bottom.face 
                div.base-lines
                    div.base-r.face
                        div.base-r__front.face 
                        div.base-r__back.face 
                        div.base-r__right.face 
                        div.base-r__left.face 
                        div.base-r__top.face 
                        div.base-r__bottom.face 
                    div.base-r.face
                        div.base-r__front.face 
                        div.base-r__back.face 
                        div.base-r__right.face 
                        div.base-r__left.face 
                        div.base-r__top.face 
                        div.base-r__bottom.face 
                    div.base-top.face
                        div.base-top__front.face 
                        div.base-top__back.face 
                        div.base-top__right.face 
                        div.base-top__left.face 
                        div.base-top__top.face 
                        div.base-top__bottom.face 
                        
                div.ad.face
                    div.ad__front.face.flex taco
                    div.ad__back.face 
                    div.ad__right.face 
                    div.ad__left.face 
                    div.ad__top.face 
                    div.ad__bottom.face 
            
                div.wheels
                    - var n = 0
                    while n < 4
                        div.wheel.flex.face
                            div.wheel-el.flex.face
                                div.wheel-el__front.face 
                                div.wheel-el__back.face 
                                div.wheel-el__right.face 
                                div.wheel-el__left.face 
                                div.wheel-el__top.face 
                                div.wheel-el__bottom.face 
                            div.wheel-el.flex.face
                                div.wheel-el__front.face 
                                div.wheel-el__back.face 
                                div.wheel-el__right.face 
                                div.wheel-el__left.face 
                                div.wheel-el__top.face 
                                div.wheel-el__bottom.face 
                            div.wheel-el.flex.face
                                div.wheel-el__front.face 
                                div.wheel-el__back.face 
                                div.wheel-el__right.face 
                                div.wheel-el__left.face 
                                div.wheel-el__top.face 
                                div.wheel-el__bottom.face 
                            div.wheel-el.flex.face
                                div.wheel-el__front.face 
                                div.wheel-el__back.face 
                                div.wheel-el__right.face 
                                div.wheel-el__left.face 
                                div.wheel-el__top.face 
                                div.wheel-el__bottom.face
                        - n++    
        
    
        
        

        
        script(src="main.js")
