doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="styles.css")    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    body
        div.main#h
            div.shadows
        
                div.reflex.reflex-04
                div.shadow.shadow-01
                div.shadow.shadow-02
                div.reflex.reflex-02
                div.reflex.reflex-03
                div.light.light-04
                div.light.light-01
                div.light.light-02
                div.light.light-03
                div.light.light-05
                div.light.light-06
                div.light.light-07
                div.reflex.reflex-01
            
            div.floor-bottom
                div.floor-bottom__front.face 
                div.floor-bottom__back.face 
                div.floor-bottom__right.face 
                div.floor-bottom__left.face 
                div.floor-bottom__top.face 
                div.floor-bottom__bottom.face     
            div.floor-a
                div.floor-a__front.face 
                div.floor-a__back.face 
                div.floor-a__right.face 
                div.floor-a__left.face 
                //- div.floor-a__top.face 
                //- div.floor-a__bottom.face     
            div.floor-b
                div.floor-b__front.face 
                div.floor-b__back.face 
                div.floor-b__right.face 
                div.floor-b__left.face 
                //- div.floor-b__top.face 
                //- div.floor-b__bottom.face     
            div.floor-c
                div.floor-c__front.face 
                div.floor-c__back.face 
                div.floor-c__right.face 
                div.floor-c__left.face 
                //- div.floor-c__top.face 
                //- div.floor-c__bottom.face     
            div.floor-d
                div.floor-d__front.face 
                div.floor-d__back.face 
                div.floor-d__right.face 
                div.floor-d__left.face 
                //- div.floor-d__top.face 
                //- div.floor-d__bottom.face     
            div.floor-top
                div.floor-top__front.face 
                div.floor-top__back.face 
                div.floor-top__right.face 
                div.floor-top__left.face 
                div.floor-top__top.face 
                    div.lightft-02.lightft
                    div.lightft-03.lightft
                    div.lightft-09.lightft
                    div.lightft-04.lightft
                    div.lightft-05.lightft
                    div.lightft-06.lightft
                    div.lightft-07.lightft
                    div.lightft-08.lightft
                    div.lightft-10.lightft
                    div.lightft-11.lightft
                    div.lightft-12.lightft
                    div.lightft-01.lightft
                div.floor-top__bottom.face    
                
            div.wall-left
                div.wall-left__front.face 
                div.wall-left__back.face 
                div.wall-left__right.face 
                div.wall-left__left.face 
                div.wall-left__top.face 
                div.wall-left__bottom.face  
            div.wall-left0
                div.wall-left0__front.face 
                div.wall-left0__back.face 
                div.wall-left0__right.face                 
                //- div.wall-left0__left.face 
                div.wall-left0__top.face 
                div.wall-left0__bottom.face  
            div.wall-left1
                div.wall-left1__front.face 
                //- div.wall-left1__back.face 
                div.wall-left1__right.face 
                //- div.wall-left1__left.face 
                div.wall-left1__top.face 
                //- div.wall-left1__bottom.face  
            div.wall-left2
                div.wall-left2__front.face 
                div.wall-left2__back.face 
                div.wall-left2__right.face 
                    div.door
                    div.lightl2l-01.lightl2l
                    div.lightl2l-02.lightl2l
                    div.lightl2l-03.lightl2l
                    div.lightl2l-04.lightl2l
                //- div.wall-left2__left.face 
                div.wall-left2__top.face 
                div.wall-left2__bottom.face  
            
            
            div.wall-back
                div.wall-back__front.face 
                div.wall-back__back.face 
                div.wall-back__right.face 
                div.wall-back__left.face 
                div.wall-back__top.face 
                div.wall-back__bottom.face  
            div.wall-back0
                div.wall-back0__front.face 
                //- div.wall-back0__back.face 
                div.wall-back0__right.face 
                div.wall-back0__left.face 
                div.wall-back0__top.face 
                div.wall-back0__bottom.face  
            div.wall-back1
                div.wall-back1__front.face 
                //- div.wall-back1__back.face 
                div.wall-back1__right.face 
                div.wall-back1__left.face 
                div.wall-back1__top.face 
                //- div.wall-back1__bottom.face  
            div.wall-back2
                div.wall-back2__front.face 
                    div.lightb2b-01.lightb2b
                    div.lightb2b-02.lightb2b
                //- div.wall-back2__back.face 
                div.wall-back2__right.face 
                div.wall-back2__left.face 
                div.wall-back2__top.face 
                //- div.wall-back2__bottom.face  
        
            //- 
            div.door-left
                div.door-left__front.face 
                div.door-left__back.face 
                div.door-left__right.face 
                //- div.door-left__left.face 
                div.door-left__top.face 
                //- div.door-left__bottom.face  
            div.door-right
                div.door-right__front.face 
                div.door-right__back.face 
                div.door-right__right.face 
                //- div.door-right__left.face 
                div.door-right__top.face 
                //- div.door-right__bottom.face  
            div.door-top
                div.door-top__front.face 
                div.door-top__back.face 
                div.door-top__right.face 
                //- div.door-top__left.face 
                div.door-top__top.face 
                div.door-top__bottom.face  
            div.control
                div.control__front.face 
                div.control__back.face 
                div.control__right.face 
                    div.screen
                        div.screen__button
                        div.screen__button
                        div.screen__button
                        div.screen__button
                    div.screen
                        div.screen__button.screen__button--yellow
                        div.screen__button
                        div.screen__button
                        div.screen__button
                //- div.control__left.face 
                div.control__top.face 
                div.control__bottom.face  
                
            div.bed
                div.bed__front.face 
                div.bed__back.face 
                div.bed__right.face 
                div.bed__left.face 
                div.bed__top.face 
                div.bed__bottom.face  
            div.mattress
                div.mattress__front.face 
                div.mattress__back.face 
                div.mattress__right.face 
                div.mattress__left.face 
                div.mattress__top.face 
                div.mattress__bottom.face  
            div.stairs
                div.stairs__front.face 
                div.stairs__back.face 
                div.stairs__right.face 
                div.stairs__left.face 
                div.stairs__top.face 
                div.stairs__bottom.face  
            div.column
                div.column__front.face 
                div.column__back.face 
                div.column__right.face 
                div.column__left.face 
                div.column__top.face 
                div.column__bottom.face  
            div.steps
                - var n = 0
                while n < 6
                    div.step
                        div.step__front.face 
                        div.step__back.face 
                        div.step__right.face 
                        div.step__left.face 
                        div.step__top.face 
                        div.step__bottom.face
                    - n++  
                 
            div.kitchen-bottom
                div.kitchen-bottom__front.face 
                div.kitchen-bottom__back.face 
                div.kitchen-bottom__right.face 
                div.kitchen-bottom__left.face 
                div.kitchen-bottom__top.face 
                div.kitchen-bottom__bottom.face  
            div.kitchen-top
                div.kitchen-top__front.face 
                div.kitchen-top__back.face 
                div.kitchen-top__right.face 
                div.kitchen-top__left.face 
                div.kitchen-top__top.face 
                div.kitchen-top__bottom.face  
            div.kitchen-left
                div.kitchen-left__front.face 
                div.kitchen-left__back.face 
                div.kitchen-left__right.face 
                div.kitchen-left__left.face 
                div.kitchen-left__top.face 
                    div.circle-k
                    div.circle-k
                    div.circle-k
                    div.circle-k
                div.kitchen-left__bottom.face  
            div.kitchen-right
                div.kitchen-right__front.face 
                div.kitchen-right__back.face 
                div.kitchen-right__right.face 
                div.kitchen-right__left.face 
                div.kitchen-right__top.face 
                    div.circle-k
                div.kitchen-right__bottom.face  
            div.kitchen-center
                div.kitchen-center__front.face 
                div.kitchen-center__back.face 
                div.kitchen-center__right.face 
                div.kitchen-center__left.face 
                div.kitchen-center__top.face 
                div.kitchen-center__bottom.face 
                 
            div.block-a
                div.block-a__front.face 
                    span sunny 20ยบ
                    svg.svg-icon(viewBox='0 0 20 20')
                        path(fill='black' d='M5.114,5.726c0.169,0.168,0.442,0.168,0.611,0c0.168-0.169,0.168-0.442,0-0.61L3.893,3.282c-0.168-0.168-0.442-0.168-0.61,0c-0.169,0.169-0.169,0.442,0,0.611L5.114,5.726z M3.955,10c0-0.239-0.193-0.432-0.432-0.432H0.932C0.693,9.568,0.5,9.761,0.5,10s0.193,0.432,0.432,0.432h2.591C3.761,10.432,3.955,10.239,3.955,10 M10,3.955c0.238,0,0.432-0.193,0.432-0.432v-2.59C10.432,0.693,10.238,0.5,10,0.5S9.568,0.693,9.568,0.932v2.59C9.568,3.762,9.762,3.955,10,3.955 M14.886,5.726l1.832-1.833c0.169-0.168,0.169-0.442,0-0.611c-0.169-0.168-0.442-0.168-0.61,0l-1.833,1.833c-0.169,0.168-0.169,0.441,0,0.61C14.443,5.894,14.717,5.894,14.886,5.726 M5.114,14.274l-1.832,1.833c-0.169,0.168-0.169,0.441,0,0.61c0.168,0.169,0.442,0.169,0.61,0l1.833-1.832c0.168-0.169,0.168-0.442,0-0.611C5.557,14.106,5.283,14.106,5.114,14.274 M19.068,9.568h-2.591c-0.238,0-0.433,0.193-0.433,0.432s0.194,0.432,0.433,0.432h2.591c0.238,0,0.432-0.193,0.432-0.432S19.307,9.568,19.068,9.568 M14.886,14.274c-0.169-0.168-0.442-0.168-0.611,0c-0.169,0.169-0.169,0.442,0,0.611l1.833,1.832c0.168,0.169,0.441,0.169,0.61,0s0.169-0.442,0-0.61L14.886,14.274z M10,4.818c-2.861,0-5.182,2.32-5.182,5.182c0,2.862,2.321,5.182,5.182,5.182s5.182-2.319,5.182-5.182C15.182,7.139,12.861,4.818,10,4.818M10,14.318c-2.385,0-4.318-1.934-4.318-4.318c0-2.385,1.933-4.318,4.318-4.318c2.386,0,4.318,1.933,4.318,4.318C14.318,12.385,12.386,14.318,10,14.318 M10,16.045c-0.238,0-0.432,0.193-0.432,0.433v2.591c0,0.238,0.194,0.432,0.432,0.432s0.432-0.193,0.432-0.432v-2.591C10.432,16.238,10.238,16.045,10,16.045')
                div.block-a__back.face 
                div.block-a__right.face 
                div.block-a__left.face 
                div.block-a__top.face 
                div.block-a__bottom.face  
            div.block-b
                div.block-b__front.face 
                div.block-b__back.face 
                div.block-b__right.face 
                div.block-b__left.face 
                div.block-b__top.face 
                div.block-b__bottom.face  
                
            
    
        script(src="index.js")                        
                            
                            
                        
                    
        
                        
                                
        
    
                
                
                
                
                
