doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="styles.css")    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    body
        audio.audio: source(src="audio/q.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/w.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/e.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/r.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/t.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/y.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/u.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/i.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/o.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/p.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/a.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/s.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/d.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/f.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/g.mp3",type="audio/mpeg")
        audio.audio: source(src="audio/fa.mp3",type="audio/mpeg")

        div.main#h
            div.shadow
            div.bls
                - var n = 0
                while n < 4
                    div.bl
                        div.bl__front.face 
                        div.bl__back.face 
                        div.bl__right.face 
                        div.bl__left.face 
                        div.bl__top.face 
                        div.bl__bottom.face
                    - n++
            div.a
                div.a__front.face 
                div.a__back.face 
                div.a__right.face 
                div.a__left.face 
                div.a__top.face 
                div.a__bottom.face
            div.b-left
                div.b-left__front.face 
                div.b-left__back.face 
                    div.b-left__plug
                div.b-left__right.face 
                div.b-left__left.face 
                div.b-left__top.face 
                div.b-left__bottom.face
            div.b-right
                div.b-right__front.face 
                div.b-right__back.face 
                div.b-right__right.face 
                div.b-right__left.face 
                div.b-right__top.face 
                div.b-right__bottom.face
            div.b-top
                div.b-top__front.face 
                div.b-top__back.face
                    svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='15vw' height='3vw' viewbox='0 0 159.000000 29.000000' preserveaspectratio='xMidYMid meet')
                        g(transform='translate(0.000000,29.000000) scale(0.100000,-0.100000)' fill='#ffffff' stroke='none')
                            path(d='M144 148 l-129 -133 50 -3 50 -4 92 96 c51 53 95 96 98 96 3 0 5 -18\
                            5 -40 0 -40 0 -40 -38 -40 -29 0 -45 -7 -65 -28 -15 -15 -27 -31 -27 -35 0 -4\
                            29 -7 65 -7 58 0 65 -2 65 -20 0 -16 7 -20 35 -20 l35 0 0 118 c0 135 -8 152\
                            -72 152 -32 0 -47 -12 -164 -132z')
                            path(d='M410 137 c0 -78 3 -97 18 -110 17 -15 57 -17 369 -17 326 0 351 1\
                            366 18 10 10 17 35 17 55 0 53 -26 67 -122 67 -45 0 -78 4 -78 10 0 6 38 10\
                            95 10 l95 0 0 30 0 30 -114 0 c-107 0 -116 -1 -130 -22 -22 -31 -20 -74 4 -98\
                            17 -17 33 -20 101 -20 60 0 80 -3 77 -12 -4 -10 -52 -14 -189 -16 -187 -3\
                            -229 1 -229 18 0 6 38 10 90 10 l90 0 0 30 0 30 -90 0 c-53 0 -90 4 -90 10 0\
                            6 37 10 90 10 l90 0 0 30 0 30 -102 0 c-57 0 -108 -4 -114 -8 -22 -14 -34 -52\
                            -34 -106 l0 -56 -54 0 c-85 0 -86 1 -86 91 l0 79 -35 0 -35 0 0 -93z')
                            path(d='M1200 120 l0 -110 35 0 35 0 0 110 0 110 -35 0 -35 0 0 -110z')
                            path(d='M1316 208 c-22 -31 -20 -74 4 -98 17 -17 33 -20 101 -20 60 0 80 -3\
                            77 -12 -3 -9 -36 -14 -106 -16 -101 -3 -102 -3 -102 -27 l0 -25 124 0 c142 0\
                            156 6 156 70 0 56 -25 70 -122 70 -45 0 -78 4 -78 10 0 6 38 10 95 10 l95 0 0\
                            30 0 30 -114 0 c-107 0 -116 -1 -130 -22z')
                div.b-top__right.face 
                div.b-top__left.face 
                div.b-top__top.face
                    svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='10vw' height='2vw' viewbox='0 0 159.000000 29.000000' preserveaspectratio='xMidYMid meet')
                        g(transform='translate(0.000000,29.000000) scale(0.100000,-0.100000)' fill='#ffffff' stroke='none')
                            path(d='M144 148 l-129 -133 50 -3 50 -4 92 96 c51 53 95 96 98 96 3 0 5 -18\
                            5 -40 0 -40 0 -40 -38 -40 -29 0 -45 -7 -65 -28 -15 -15 -27 -31 -27 -35 0 -4\
                            29 -7 65 -7 58 0 65 -2 65 -20 0 -16 7 -20 35 -20 l35 0 0 118 c0 135 -8 152\
                            -72 152 -32 0 -47 -12 -164 -132z')
                            path(d='M410 137 c0 -78 3 -97 18 -110 17 -15 57 -17 369 -17 326 0 351 1\
                            366 18 10 10 17 35 17 55 0 53 -26 67 -122 67 -45 0 -78 4 -78 10 0 6 38 10\
                            95 10 l95 0 0 30 0 30 -114 0 c-107 0 -116 -1 -130 -22 -22 -31 -20 -74 4 -98\
                            17 -17 33 -20 101 -20 60 0 80 -3 77 -12 -4 -10 -52 -14 -189 -16 -187 -3\
                            -229 1 -229 18 0 6 38 10 90 10 l90 0 0 30 0 30 -90 0 c-53 0 -90 4 -90 10 0\
                            6 37 10 90 10 l90 0 0 30 0 30 -102 0 c-57 0 -108 -4 -114 -8 -22 -14 -34 -52\
                            -34 -106 l0 -56 -54 0 c-85 0 -86 1 -86 91 l0 79 -35 0 -35 0 0 -93z')
                            path(d='M1200 120 l0 -110 35 0 35 0 0 110 0 110 -35 0 -35 0 0 -110z')
                            path(d='M1316 208 c-22 -31 -20 -74 4 -98 17 -17 33 -20 101 -20 60 0 80 -3\
                            77 -12 -3 -9 -36 -14 -106 -16 -101 -3 -102 -3 -102 -27 l0 -25 124 0 c142 0\
                            156 6 156 70 0 56 -25 70 -122 70 -45 0 -78 4 -78 10 0 6 38 10 95 10 l95 0 0\
                            30 0 30 -114 0 c-107 0 -116 -1 -130 -22z')
                div.b-top__bottom.face
            div.keys
                - var n = 0
                while n < 15
                    div.key-w
                        div.key-w__front.face 
                        div.key-w__back.face 
                        div.key-w__right.face 
                        div.key-w__left.face 
                        div.key-w__top.face 
                        div.key-w__bottom.face
                    - n++

            div.keys.keys--b
                - var n = 0
                while n < 10
                    div.key-b
                        div.key-b__front.face 
                        div.key-b__back.face 
                        div.key-b__right.face 
                        div.key-b__left.face 
                        div.key-b__top.face 
                        div.key-b__bottom.face
                    - n++
            div.controls
                div.equ
                    - var i = 1
                    while i < 7
                        div.equ__item
                            div.circle.flex
                                div.circle-a  
                                    - var n = 0
                                    while n < 36
                                        div.circle-a__side
                                        - n++
                                    div.circle-a__bottom
                            p.equ__title k!{i}
                        - i++
                div.buttons
                    - var n = 0
                    while n < 6
                        div.button
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face
                        - n++
                div.slots
                    - var n = 0
                    while n < 8
                        div.slot
                            div.slot__front.face 
                            div.slot__back.face 
                            div.slot__right.face 
                            div.slot__left.face 
                            div.slot__top.face 
                            div.slot__bottom.face
                        - n++

            h3.g#g gossip
                
    
        script(src="index.js")                        
                            
                            
                        
                    
        
                        
                                
        
    
                
                
                
                
                
