doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="main.css")    
    body
        div.main#h
            div.shake
                div.shadows
                    div.shadow-1.shadow
                    div.shadow-2.shadow
                    div.shadow-3.shadow
                div.truck
                    div.a0
                        div.a0__front.face 
                        div.a0__back.face 
                        div.a0__right.face 
                        div.a0__left.face 
                        div.a0__top.face 
                        div.a0__bottom.face  
                    div.a1
                        div.a1__front.face 
                            div.a1__front-a.face 
                                div.f-light
                                div.f-light
                        div.a1__back.face 
                        div.a1__right.face 
                        div.a1__left.face 
                        //- div.a1__top.face 
                        div.a1__bottom.face
                    div.a2
                        div.a2__front.face 
                        div.a2__back.face 
                        div.a2__right.face 
                        div.a2__left.face 
                        //- div.a2__top.face 
                        div.a2__bottom.face
                    div.a3
                        div.a3__front.face 
                        div.a3__back.face 
                        div.a3__right.face 
                        div.a3__left.face 
                        //- div.a3__top.face 
                        div.a3__bottom.face
                            
                    div.wheel-a.flex
                        div.circle.flex
                            div.circle-a  
                                - var n = 0
                                while n < 36
                                    div.circle-a__side
                                    - n++
                                div.circle-a__bottom
                                div.circle-a__top
                            div.circle-b  
                                - var n = 0
                                while n < 36
                                    div.circle-b__side
                                    - n++ 
                                div.circle-b__bottom
                                div.circle-b__top
                    div.wheel-b.flex
                        div.circle.flex
                            div.circle-a  
                                - var n = 0
                                while n < 36
                                    div.circle-a__side
                                    - n++
                                div.circle-a__bottom
                                div.circle-a__top
                            div.circle-b  
                                - var n = 0
                                while n < 36
                                    div.circle-b__side
                                    - n++ 
                                div.circle-b__bottom
                                div.circle-b__top
                    div.wheel-c.flex
                        div.circle.flex
                            div.circle-a  
                                - var n = 0
                                while n < 36
                                    div.circle-a__side
                                    - n++
                                div.circle-a__bottom
                                div.circle-a__top
                            div.circle-b  
                                - var n = 0
                                while n < 36
                                    div.circle-b__side
                                    - n++ 
                                div.circle-b__bottom
                                div.circle-b__top
                    div.wheel-d.flex
                        div.circle.flex
                            div.circle-a  
                                - var n = 0
                                while n < 36
                                    div.circle-a__side
                                    - n++
                                div.circle-a__bottom
                                div.circle-a__top
                            div.circle-b  
                                - var n = 0
                                while n < 36
                                    div.circle-b__side
                                    - n++ 
                                div.circle-b__bottom
                                div.circle-b__top
                    div.b1
                        div.b1__front.face
                            div.f-light 
                            div.f-hoods
                                div.f-hood
                                    div.f-hood__front.face 
                                    div.f-hood__back.face 
                                    div.f-hood__right.face 
                                    div.f-hood__left.face 
                                    div.f-hood__top.face 
                                    div.f-hood__bottom.face 
                                div.f-hood
                                    div.f-hood__front.face 
                                    div.f-hood__back.face 
                                    div.f-hood__right.face 
                                    div.f-hood__left.face 
                                    div.f-hood__top.face 
                                    div.f-hood__bottom.face 
                            div.f-light 
                        div.b1__back.face 
                        div.b1__right.face 
                        div.b1__left.face 
                        //- div.b1__top.face 
                        div.b1__bottom.face        
                    div.c1
                        div.c1__front.face 
                            div.c1__front-a.face 
                                div.f-lights
                                    div.f-light
                                    div.f-light
                                    div.f-light
                                    div.f-light
                                    div.f-light
                                div.f-window
                                    div.f-washers
                                        div.f-washer
                                        div.f-washer
                                    div.f-reflexa
                                    div.f-reflexb
                                    div.f-a
                                        div.f-a__front.face 
                                        div.f-a__back.face 
                                        div.f-a__right.face 
                                        div.f-a__left.face 
                                        div.f-a__top.face 
                                        div.f-a__bottom.face  
                                div.f-line
                                    
                        div.c1__back.face 
                        div.c1__right.face 
                            div.f-swindows
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                        div.c1__left.face 
                            div.f-swindows.f-swindows--reverse
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-swindow
                                div.f-sdoor
                        div.c1__top.face
                            div.f-airs
                                div.f-air
                                    div.f-air__front.face 
                                    div.f-air__back.face 
                                    div.f-air__right.face 
                                    div.f-air__left.face 
                                    div.f-air__top.face 
                                    div.f-air__bottom.face   
                                div.f-sunr
                                    div.f-sunr-t
                                    
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    div.f-bubble
                                    
                                div.f-air
                                    div.f-air__front.face 
                                    div.f-air__back.face 
                                    div.f-air__right.face 
                                    div.f-air__left.face 
                                    div.f-air__top.face 
                                    div.f-air__bottom.face   
                        div.c1__bottom.face        
                    
                    div.d1
                        div.d1-l
                            div.d1-l__front.face 
                            div.d1-l__back.face 
                            div.d1-l__right.face 
                            div.d1-l__left.face 
                            div.d1-l__top.face 
                            div.d1-l__bottom.face   
                        div.d1-r
                            div.d1-r__front.face 
                            div.d1-r__back.face 
                            div.d1-r__right.face 
                            div.d1-r__left.face 
                            div.d1-r__top.face 
                            div.d1-r__bottom.face   
                        div.d1-f
                            div.d1-fa
                                div.d1-fa__front.face 
                                div.d1-fa__back.face 
                                div.d1-fa__right.face 
                                div.d1-fa__left.face 
                                div.d1-fa__top.face 
                                div.d1-fa__bottom.face   
                            div.d1-fa
                                div.d1-fa__front.face 
                                div.d1-fa__back.face 
                                div.d1-fa__right.face 
                                div.d1-fa__left.face 
                                div.d1-fa__top.face 
                                div.d1-fa__bottom.face   
                            div.d1-fa
                                div.d1-fa__front.face 
                                div.d1-fa__back.face 
                                div.d1-fa__right.face 
                                div.d1-fa__left.face 
                                div.d1-fa__top.face 
                                div.d1-fa__bottom.face   
                            div.d1-fa
                                div.d1-fa__front.face 
                                div.d1-fa__back.face 
                                div.d1-fa__right.face 
                                div.d1-fa__left.face 
                                div.d1-fa__top.face 
                                div.d1-fa__bottom.face   

        
        script(src="main.js")
