doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        div.main
            div.monster
                div.monster__face
                    div.monster__eyes
                        div.monster__eye
                        div.monster__eye
                    div.monster__mouth
                        div.monster__top
                        div.monster__bottom
                        
        
