doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="main.css")
            
    body
    
        div.shadows.h
            //- div.light.light-4.off
            div.light.light-1.off
            div.light.light-3.off
            div.light.light-5.off
            div.light.light-2.off
        
            div.shadow.shadow-2
            div.a1__r1.off
            div.a1__r2.off
            div.shadow.shadow-1
                
        div.lamps.h
            div.lamp-b.lamp-b-1
            div.lamp-b.lamp-b-2    
            div.lamp-b.lamp-b-3    
            div.lamp-b.lamp-b-4    
        div.house.h
            //---------------------
            div.a1
                div.a1__front.face 
                    div.a1__front--s1.face.off 
                    div.a1__front--s2.face.off 
                    div.a1__front--s3.face.off 
                    div.a1__front--s4.face.off 
                div.a1__back.face 
                div.a1__right.face 
                    div.a1__right--s1.face.off 
                    div.a1__right--s2.face.off 
                    div.a1__right--s3.face.off 
                    div.a1__right--s4.face.off 
                div.a1__left.face 
                div.a1__top.face 
                    div.a1__top--s1.face.off 
                    div.a1__top--s2.face.off 
                    div.a1__top--s3.face.off 
                    div.a1__top--s4.face.off 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                    div.lamp-b.lamp-b-3
                    div.lamp-b.lamp-b-4
                    div.lamp-b.lamp-b-5 
                div.a1__bottom.face 
            //---------------------
            div.b1
                div.b1__front.face 
                div.b1__back.face 
                div.b1__right.face 
                    div.b1__right--s1.face.off 
                    div.b1__right--s2.face.off 
                div.b1__left.face 
                div.b1__top.face 
                    div.b1__top--s1.face.off 
                    div.b1__top--s4.face.off 
                    div.b1__top--s2.face.off 
                    div.b1__top--s3.face.off 
                    div.b1__top--s5.face.off
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                    div.lamp-b.lamp-b-3
                div.b1__bottom.face 
            div.b2
                div.b2__front.face 
                    div.b2__front--s1.face.off 
                    div.b2__front--s2.face.off 
                div.b2__back.face 
                div.b2__right.face 
                    div.b2__right--s1.face.off 
                div.b2__left.face 
                div.b2__top.face 
                    div.b2__top--s1.face.off 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                    div.lamp-b.lamp-b-3
                    div.lamp-b.lamp-b-4
                div.b2__bottom.face 
            div.b3
                div.b3__front.face 
                    div.b3__front--s1.face.off 
                div.b3__back.face 
                div.b3__right.face 
                    div.b3__right--s1.face.off 
                div.b3__left.face 
                div.b3__top.face 
                    div.b3__front--s1.face.off 
                div.b3__bottom.face 
            div.b4
                div.b4__front.face 
                    div.b4__front--s1.face.off 
                    div.lamp-t.lamp-t-1.off
                    div.lamp-t.lamp-t-2.off
                    div.lamp-t.lamp-t-3.off
                    div.lamp-t.lamp-t-4.off
                    div.lamp-t.lamp-t-5.off
                div.b4__back.face 
                div.b4__right.face 
                div.b4__left.face 
                div.b4__top.face 
                div.b4__bottom.face 
            div.b5
                div.b5__front.face 
                div.b5__back.face 
                div.b5__right.face 
                    div.b5__right--s2.face.off 
                    div.b5__right--s1.face.off 
                    div.lamp-t.lamp-t-1.off
                    div.lamp-t.lamp-t-2.off
                    div.lamp-t.lamp-t-3.off
                    div.lamp-t.lamp-t-4.off
                div.b5__left.face 
                div.b5__top.face 
                div.b5__bottom.face 
            div.bc2.crystal
                div.bc2__front.face 
                //- div.bc2__back.face 
                //- div.bc2__right.face 
                div.bc2__left.face 
                //- div.bc2__top.face 
                //- div.bc2__bottom.face 
            div.bc3.crystal
                div.bc3__front.face 
                //- div.bc3__back.face 
                div.bc3__right.face 
                //- div.bc3__left.face 
                //- div.bc3__top.face 
                //- div.bc3__bottom.face 
            div.bc4.crystal
                //- div.bc4__front.face 
                div.bc4__back.face 
                div.bc4__right.face 
                //- div.bc4__left.face 
                //- div.bc4__top.face 
                //- div.bc4__bottom.face 
                
            //---------------------    
            div.bp1a
            div.bp1b
                div.bp1b--s1.off
            div.bp2
                div.bp2__front.face 
                div.bp2__back.face 
                div.bp2__right.face 
                    div.bp2__right--s1.face.off 
                div.bp2__left.face 
                div.bp2__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.bp2__bottom.face 
            div.bp3
                div.bp3__front.face 
                div.bp3__back.face 
                div.bp3__right.face 
                div.bp3__left.face 
                div.bp3__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.bp3__bottom.face 
            div.bp4
                div.bp4__front.face 
                div.bp4__back.face 
                div.bp4__right.face 
                div.bp4__left.face 
                div.bp4__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.bp4__bottom.face 
            div.bp5
                div.bp5__front.face 
                div.bp5__back.face 
                div.bp5__right.face 
                div.bp5__left.face 
                div.bp5__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.bp5__bottom.face 
            div.bp6
                div.bp6__front.face 
                div.bp6__back.face 
                div.bp6__right.face 
                div.bp6__left.face 
                div.bp6__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.bp6__bottom.face 
            //---------------------
            div.be1
                div.be1__front.face 
                div.be1__back.face 
                div.be1__right.face 
                div.be1__left.face 
                div.be1__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.be1__bottom.face 
            div.be2
                div.be2__front.face 
                div.be2__back.face 
                div.be2__right.face 
                div.be2__left.face 
                div.be2__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.be2__bottom.face 
            div.be3
                div.be3__front.face 
                div.be3__back.face 
                div.be3__right.face 
                div.be3__left.face 
                div.be3__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.be3__bottom.face 
            div.be4
                div.be4__front.face 
                div.be4__back.face 
                div.be4__right.face 
                div.be4__left.face 
                div.be4__top.face 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                div.be4__bottom.face 
            //---------------------
            div.c1
                div.c1__front.face 
                    div.c1__front--s1.face.off 
                    div.c1__front--s2.face.off 
                div.c1__back.face 
                div.c1__right.face 
                    div.c1__right--s1.face.off 
                    div.c1__right--s2.face.off 
                div.c1__left.face 
                //- div.c1__top.face 
                div.c1__bottom.face 
            div.c2
                div.c2__front.face 
                    div.c2__front--s1.face.off 
                    div.c2__front--s2.face.off 
                div.c2__back.face 
                div.c2__right.face 
                    div.c2__right--s1.face.off 
                    div.c2__right--s2.face.off 
                div.c2__left.face 
                //- div.c2__top.face 
                div.c2__bottom.face 
            div.c3
                div.c3__front.face 
                    div.c3__front--s1.face.off 
                    div.c3__front--s2.face.off 
                div.c3__back.face 
                div.c3__right.face 
                    div.c3__right--s1.face.off 
                    div.c3__right--s2.face.off 
                div.c3__left.face 
                div.c3__top.face 
                    div.c3__top--s1.face.off 
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                    div.lamp-b.lamp-b-3
                    div.lamp-b.lamp-b-4
                div.c3__bottom.face 
            div.c4
                div.c4__front.face 
                    div.c4__front--s1.face.off 
                    div.c4__front--s2.face.off 
                div.c4__back.face 
                div.c4__right.face 
                    div.c4__right--s1.face.off 
                    div.c4__right--s2.face.off 
                div.c4__left.face 
                div.c4__top.face 
                    div.c4__top--s1.face.off 
                div.c4__bottom.face 
                
            div.cc1.window
                div.cc1__front.face 
                div.cc1__back.face 
                div.cc1__right.face 
                div.cc1__left.face 
                div.cc1__top.face 
                div.cc1__bottom.face.face-b 
            div.cc2.window
                div.cc2__front.face 
                div.cc2__back.face 
                div.cc2__right.face 
                div.cc2__left.face 
                div.cc2__top.face 
                div.cc2__bottom.face.face-b 
            div.cc3.crystal
                div.cc3__front.face 
                div.cc3__back.face 
                div.cc3__right.face 
                //- div.cc3__left.face 
                //- div.cc3__top.face 
                //- div.cc3__bottom.face 
            //---------------------
            div.d1
                div.d1__front.face 
                div.d1__back.face 
                div.d1__right.face 
                    div.d1__right--s1.face.off 
                    div.d1__right--s2.face.off 
                    div.lamp-t.lamp-t-1
                div.d1__left.face 
                div.d1__top.face 
                div.d1__bottom.face 
            div.d2
                div.d2__front.face 
                    div.d2__front--s1.face.off 
                div.d2__back.face 
                div.d2__right.face 
                div.d2__left.face 
                div.d2__top.face 
                div.d2__bottom.face 
            div.d3
                div.d3__front.face 
                    div.d3__front--s1.face.off 
                    div.d3__front--s2.face.off 
                div.d3__back.face 
                div.d3__right.face 
                    div.d3__right--s1.face.off 
                    div.d3__right--s2.face.off 
                div.d3__left.face 
                div.d3__top.face 
                    div.d3__top--s1.face.off 
                    
                    div.lamp-b.lamp-b-1
                    div.lamp-b.lamp-b-2
                    div.lamp-b.lamp-b-3
                        
                    div.lamp-b.lamp-b-4
                    div.lamp-b.lamp-b-5
                    div.lamp-b.lamp-b-6
                div.d3__bottom.face 
            //---------------------        
            div.e1
                div.e1__front.face 
                div.e1__back.face 
                div.e1__right.face 
                    div.e3__front--s1.off
                    div.e3__front--s2.off
                div.e1__left.face 
                div.e1__top.face 
                div.e1__bottom.face     
            div.e2
                div.e2__front.face 
                    div.e3__front--s1.off    
                div.e2__back.face 
                div.e2__right.face 
                    div.e2__right--s1.face 
                div.e2__left.face 
                div.e2__top.face.
                div.e2__bottom.face     
            div.e3
                div.e3__front.face 
                    div.e3__front--s1.off
                div.e3__back.face 
                div.e3__right.face 
                    div.e3__right--s1.off
                    div.e3__right--s2.off
                div.e3__left.face 
                div.e3__top.face 
                div.e3__bottom.face     
            div.e4.window
                //- div.e4__front.face 
                //- div.e4__back.face 
                div.e4__right.face 
                //- div.e4__left.face 
                //- div.e4__top.face 
                div.e4__bottom.face.face-b
            div.e5.window
                div.e5__front.face 
                //- div.e5__back.face 
                div.e5__right.face 
                //- div.e5__left.face 
                //- div.e5__top.face 
                div.e5__bottom.face      
        
            //---------------------    
        div.input
            input(type="checkbox").input__checkbox#ch
            label(for="cb").input__label
            
        script(src="main.js")        
                
                
                
                
                
                
                
                
                
