doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        
    body
            
        div.house#h 
            
            div.shadows
                div.shadow-a
                div.shadow-b
            //-----------------------
            //-----------------------
            div.al
                div.al__front.face 
                div.al__back.face 
                div.al__right.face 
                div.al__left.face 
                div.al__top.face 
                div.al__bottom.face 
            div.ab
                div.ab__front.face 
                div.ab__back.face 
                div.ab__right.face 
                div.ab__left.face 
                div.ab__top.face 
                div.ab__bottom.face 
            div.at
                div.at__front.face 
                div.at__back.face 
                div.at__right.face 
                div.at__left.face 
                div.at__top.face 
                div.at__bottom.face 
            div.ac
                div.ac__front.face 
                div.ac__back.face 
                div.ac__right.face 
                div.ac__left.face 
                div.ac__top.face 
                div.ac__bottom.face                 
            //-----------------------
            //-----------------------
            div.bce
                div.bce__front.face 
                div.bce__back.face 
                div.bce__right.face 
                div.bce__left.face 
                div.bce__top.face 
                div.bce__bottom.face 
            div.bci
                div.bci__front.face 
                div.bci__back.face 
                div.bci__right.face 
                div.bci__left.face 
                div.bci__top.face 
                div.bci__bottom.face 
            div.bl
                div.bl__front.face 
                div.bl__back.face 
                div.bl__right.face 
                div.bl__left.face 
                div.bl__top.face 
                div.bl__bottom.face 
            div.bt
                div.bt__front.face 
                div.bt__back.face 
                div.bt__right.face 
                div.bt__left.face 
                div.bt__top.face 
                div.bt__bottom.face 
            div.bbe
                div.bbe__front.face 
                div.bbe__back.face 
                div.bbe__right.face 
                div.bbe__left.face 
                div.bbe__top.face 
                div.bbe__bottom.face 
            div.bbi
                div.bbi__front.face 
                div.bbi__back.face 
                div.bbi__right.face 
                div.bbi__left.face 
                div.bbi__top.face 
                div.bbi__bottom.face  
                
            //-----------------------
            //-----------------------
            div.cl
                div.cl__front.face 
                    div.lamp
                div.cl__back.face 
                div.cl__right.face   
                div.cl__left.face 
                div.cl__top.face 
                div.cl__bottom.face    
            div.cc
                div.cc__front.face 
                div.cc__back.face 
                div.cc__right.face 
                div.cc__left.face 
                div.cc__top.face 
                div.cc__bottom.face    
            div.ccl
                div.ccl__front.face 
                div.ccl__back.face 
                div.ccl__right.face 
                div.ccl__left.face 
                div.ccl__top.face 
                div.ccl__bottom.face    
            div.cml
                div.cml__front.face 
                div.cml__back.face 
                div.cml__right.face 
                div.cml__left.face 
                div.cml__top.face 
                div.cml__bottom.face    
            div.cmr
                div.cmr__front.face 
                div.cmr__back.face 
                div.cmr__right.face 
                div.cmr__left.face 
                div.cmr__top.face 
                div.cmr__bottom.face    
            div.cmt
                div.cmt__front.face 
                div.cmt__back.face 
                div.cmt__right.face 
                div.cmt__left.face 
                div.cmt__top.face 
                div.cmt__bottom.face    
            //-----------------------
            //-----------------------
                        
            div.dl
                div.dl__front.face 
                div.dl__back.face 
                div.dl__right.face 
                div.dl__left.face 
                div.dl__top.face 
                div.dl__bottom.face        
            div.dm
                div.dm__front.face 
                div.dm__back.face 
                div.dm__right.face 
                div.dm__left.face 
                div.dm__top.face 
                div.dm__bottom.face        
            div.dt
                div.dt__front.face 
                div.dt__back.face 
                div.dt__right.face 
                div.dt__left.face 
                div.dt__top.face 
                div.dt__bottom.face   
            //-----------------------            
            //-----------------------   
                 
            div.el: div.el__front.face
            div.ec: div.ec__front.face
            div.er: div.er__right.face
            div.eb: div.eb__back.face
            //-----------------------            
            //-----------------------            
            div.fl
                div.fl__front.face 
                div.fl__back.face 
                div.fl__right.face 
                div.fl__left.face 
                div.fl__top.face 
                div.fl__bottom.face   
            div.ft
                div.ft__front.face 
                div.ft__back.face 
                div.ft__right.face 
                div.ft__left.face 
                div.ft__top.face 
                div.ft__bottom.face   
            div.fb
                div.fb__front.face 
                div.fb__back.face 
                div.fb__right.face 
                div.fb__left.face 
                div.fb__top.face 
                div.fb__bottom.face   
         
            //-----------------------
            //-----------------------
            div.table
                div.table__front.face 
                div.table__back.face 
                div.table__right.face 
                div.table__left.face 
                div.table__top.face 
                div.table__bottom.face 
                    div.foot
                        div.foot__front.face 
                        div.foot__back.face 
                        div.foot__right.face 
                        div.foot__left.face 
                        div.foot__top.face 
                        div.foot__bottom.face 
                    div.foot
                        div.foot__front.face 
                        div.foot__back.face 
                        div.foot__right.face 
                        div.foot__left.face 
                        div.foot__top.face 
                        div.foot__bottom.face 
                    div.foot
                        div.foot__front.face 
                        div.foot__back.face 
                        div.foot__right.face 
                        div.foot__left.face 
                        div.foot__top.face 
                        div.foot__bottom.face 
                    div.foot
                        div.foot__front.face 
                        div.foot__back.face 
                        div.foot__right.face 
                        div.foot__left.face 
                        div.foot__top.face 
                        div.foot__bottom.face 
            div.kitchen
                div.kitchen__front.face 
                div.kitchen__back.face 
                div.kitchen__right.face 
                div.kitchen__left.face 
                div.kitchen__top.face 
                div.kitchen__bottom.face 
            div.couch
                div.couch__front.face 
                div.couch__back.face 
                div.couch__right.face 
                div.couch__left.face 
                div.couch__top.face 
                div.couch__bottom.face 
            div.couchb
                div.couchb__front.face 
                div.couchb__back.face 
                div.couchb__right.face 
                div.couchb__left.face 
                div.couchb__top.face 
                div.couchb__bottom.face 
            div.couchc
                div.couchc__front.face 
                div.couchc__back.face 
                div.couchc__right.face 
                div.couchc__left.face 
                div.couchc__top.face 
                div.couchc__bottom.face 
            div.couchd
                div.couchd__front.face 
                div.couchd__back.face 
                div.couchd__right.face 
                div.couchd__left.face 
                div.couchd__top.face 
                div.couchd__bottom.face 
            div.picture
                div.picture__front.face 
                div.picture__back.face 
                div.picture__right.face 
                div.picture__left.face 
                div.picture__top.face 
                div.picture__bottom.face 
            div.door-r
                div.door-r__front.face 
                div.door-r__back.face 
                div.door-r__right.face 
                div.door-r__left.face 
                div.door-r__top.face 
                div.door-r__bottom.face 
            div.door-l
                div.door-l__front.face 
                div.door-l__back.face 
                div.door-l__right.face 
                div.door-l__left.face 
                div.door-l__top.face 
                div.door-l__bottom.face 
            div.door-b
                div.door-b__front.face 
                div.door-b__back.face 
                div.door-b__right.face 
                div.door-b__left.face 
                div.door-b__top.face 
                div.door-b__bottom.face 
            div.door-t
                div.door-t__front.face 
                div.door-t__back.face 
                div.door-t__right.face 
                div.door-t__left.face 
                div.door-t__top.face 
                div.door-t__bottom.face 
            
            
            
                    
        script(src="main.js")    
    
            
