doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="styles.css")    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    body
        div.main#h.flex
            div.shadows
                div.shadow.shadow-1
                div.shadow.shadow-2
                div.shadow.shadow-3
                div.shadow.shadow-4
                div.shadow.shadow-5
                div.shadow.shadow-6
            div.a
                div.a__front.face 
                div.a__back.face 
                div.a__right.face 
                div.a__left.face 
                div.a__top.face 
                div.a__bottom.face 
            div.b
                div.b__front.face 
                div.b__back.face 
                div.b__right.face 
                div.b__left.face 
                div.b__top.face 
                div.b__bottom.face 
            div.c
                div.c__front.face 
                div.c__back.face 
                div.c__right.face 
                div.c__left.face 
                div.c__top.face 
                div.c__bottom.face 
                
            div.d
                div.d__front.face 
                div.d__back.face 
                div.d__right.face 
                div.d__left.face 
                div.d__top.face 
                div.d__bottom.face 
            div.e
                div.e__front.face 
                div.e__back.face 
                div.e__right.face 
                div.e__left.face 
                div.e__top.face 
                div.e__bottom.face 
                
            div.buttons
                - var b = 0
                while b < 6
                    div.button
                        div.circle.flex
                            div.circle-a  
                                - var n = 0
                                while n < 16
                                    div.circle-a__side
                                    - n++
                                div.circle-a__bottom
                                div.circle-a__top
                    - b++
                    
            div.init
                div.icircle.flex
                    div.icircle-a  
                        - var n = 0
                        while n < 16
                            div.icircle-a__side
                            - n++
                        div.icircle-a__bottom
                        div.icircle-a__top
                
            div.cylinder
                div.circle.flex
                    div.circle-a  
                        - var n = 0
                        while n < 16
                            div.circle-a__side
                            - n++
                        div.circle-a__bottom
                        div.circle-a__top
                
            div.sphere.flex
                div.sphere-shadow
                div.sphere-bottom  
                    - var n = 0
                    while n < 12
                        div.sphere-bottom__side
                        - n++
                div.sphere-bt  
                    - var n = 0
                    while n < 12
                        div.sphere-bt__side
                        - n++
                div.sphere-a  
                    - var n = 0
                    while n < 12
                        div.sphere-a__side
                        - n++
                div.sphere-b  
                    - var n = 0
                    while n < 12
                        div.sphere-b__side
                        - n++
                div.sphere-c  
                    - var n = 0
                    while n < 12
                        div.sphere-c__side
                        - n++
                div.sphere-d  
                    - var n = 0
                    while n < 12
                        div.sphere-d__side
                        - n++
                div.sphere-e  
                    - var n = 0
                    while n < 12
                        div.sphere-e__side
                        - n++
                div.sphere-f  
                    - var n = 0
                    while n < 12
                        div.sphere-f__side
                        - n++
                div.sphere-g  
                    - var n = 0
                    while n < 12
                        div.sphere-g__side
                        - n++
                div.sphere-tp  
                    - var n = 0
                    while n < 12
                        div.sphere-tp__side
                        - n++  
                div.sphere-top  
                    - var n = 0
                    while n < 12
                        div.sphere-top__side
                        - n++  

        script(src="index.js")                        
                            
                            
                        
                    
        
                        
                                
        
    
                
                
                
                
                
