doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body.flex
        div.main.flex
        
            div.frank
                
                div.head.flex
                    div.head__t
                    div.head__m
                        div.face
                            div.eye.flex
                                div.eye__l
                                div.eye__r
                            div.nose.flex
                                div.nose__t
                                div.nose__b
                            div.mouth
                            div.teeth
                                div.teeth__l
                                div.teeth__m
                                div.teeth__r
                    div.head__b
                        
                div.hair.flex
                    div.hair__t
                    div.hair__m.black
                    div.hair__b.black
                        
                div.ear.flex
                    div.ear__l
                    div.ear__r
                
                div.screws
                    div.screws__l
                    div.screws__r
                        
            
