doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
            
    body.flex
        div.main.flex#main
            div.switch.flex#switch
                div.switch__g.flex#g
                    
                    div.switch__button.flex#button
                        div.switch__tap#tap
                        div.switch__led.flex#led
                            div.switch__led-i#ledi
            
            div.shadow#shadow
        
        script(src="main.js")
