doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="main.css")
            
    body
        audio#audio
            source(src="https://raw.githubusercontent.com/ricardoolivaalonso/recursos/master/radio/radio.mp3",type="audio/mpeg")
        audio#audio2
            source(src="sounds/librero.mp3",type="audio/mpeg")
        audio#audio3
            source(src="sounds/repisa.mp3",type="audio/mpeg")
        audio#audio4
            source(src="sounds/buro.mp3",type="audio/mpeg")
        //---------------------
        div.shadows.rb
            div.shadow6 
            div.shadow5 
            div.shadow4
            div.shadow1
            div.shadow2
            div.shadow3
        //---------------------
        div.room.rb
            //---------------------
            div.at
                div.at__front.face 
                div.at__back.face 
                div.at__right.face 
                div.at__left.face 
                div.at__top.face 
                    div.os.os1
                    div.os.os2
                    div.ws1.ws
                    div.ws2.ws
                    div.ws3.ws
                    div.ws4.ws
                    div.ws5.ws
                    div.ws6.ws
                    div.ws7.ws
                        
                div.at__bottom.face 
            div.ab
                div.ab__front.face 
                div.ab__back.face 
                div.ab__right.face 
                div.ab__left.face 
                div.ab__top.face 
                div.ab__bottom.face 
            div.bb
                div.bb__front.face 
                    div.os.os1
                    div.os.os2
                div.bb__back.face 
                div.bb__right.face 
                div.bb__left.face 
                div.bb__top.face 
                div.bb__bottom.face 
            div.bt
                div.bt__front.face 
                div.bt__back.face 
                div.bt__right.face 
                div.bt__left.face 
                div.bt__top.face 
                div.bt__bottom.face 
            div.bbl
                div.bbl__front.face 
                div.bbl__back.face 
                div.bbl__right.face 
                div.bbl__left.face 
                div.bbl__top.face 
                div.bbl__bottom.face 
            div.bbr
                div.bbr__front.face 
                div.bbr__back.face 
                div.bbr__right.face 
                div.bbr__left.face 
                div.bbr__top.face 
                div.bbr__bottom.face 
            div.bl
                div.bl__front.face 
                div.bl__back.face 
                div.bl__right.face 
                    div.os0
                    div.os.os1
                    div.os.os2
                    div.os.os3
                    div.os.os4
                    div.os.os5
                    div.os.os6
                div.bl__left.face 
                    div.os.os1
                div.bl__top.face 
                div.bl__bottom.face 
            //---------------------    
            div.ventana
                div.ventana__back.face 
                    div.lg.lg1
                    div.lg.lg2
                    div.vs.vs1
                    div.vs.vs2
                    div.vs.vs3
                    div.vs.vs4
                div.ventana-l
                    div.ventana-l__front.face 
                    div.ventana-l__back.face 
                    div.ventana-l__right.face 
                    div.ventana-l__left.face 
                    div.ventana-l__top.face 
                    div.ventana-l__bottom.face 
                div.ventana-c
                    div.ventana-c__front.face 
                    div.ventana-c__back.face 
                    div.ventana-c__right.face 
                    div.ventana-c__left.face 
                    div.ventana-c__top.face 
                    div.ventana-c__bottom.face 
                div.ventana-r
                    div.ventana-r__front.face 
                    div.ventana-r__back.face 
                    div.ventana-r__right.face 
                    div.ventana-r__left.face 
                    div.ventana-r__top.face 
                    div.ventana-r__bottom.face 
                div.ventana-t
                    div.ventana-t__front.face 
                    div.ventana-t__back.face 
                    div.ventana-t__right.face 
                    div.ventana-t__left.face 
                    div.ventana-t__top.face 
                    div.ventana-t__bottom.face 
                div.ventana-b
                    div.ventana-b__front.face 
                    div.ventana-b__back.face 
                    div.ventana-b__right.face 
                    div.ventana-b__left.face 
                    div.ventana-b__top.face 
                    div.ventana-b__bottom.face 
            //---------------------
            div.cama
                div.fs
                div.cama-al
                    div.cama-al__front.face 
                    div.cama-al__back.face 
                    div.cama-al__right.face 
                    div.cama-al__left.face 
                    div.cama-al__top.face 
                    div.cama-al__bottom.face 
                div.cama-ac
                    div.cama-ac__front.face 
                    div.cama-ac__back.face 
                    div.cama-ac__right.face 
                    div.cama-ac__left.face 
                    div.cama-ac__top.face 
                    div.cama-ac__bottom.face 
                div.cama-ar
                    div.cama-ar__front.face 
                    div.cama-ar__back.face 
                    div.cama-ar__right.face 
                    div.cama-ar__left.face 
                    div.cama-ar__top.face 
                    div.cama-ar__bottom.face 
                div.cama-bc
                    div.cama-bc__front.face 
                    div.cama-bc__back.face 
                    div.cama-bc__right.face 
                    div.cama-bc__left.face 
                    div.cama-bc__top.face 
                    div.cama-bc__bottom.face 
                div.cama-almos
                    div.cama-almo
                        div.cama-almo__sh.face 
                        div.cama-almo__front.face 
                        div.cama-almo__back.face 
                        div.cama-almo__right.face 
                        div.cama-almo__left.face 
                        div.cama-almo__top.face 
                        div.cama-almo__bottom.face 
                    div.cama-almo
                        div.cama-almo__sh.face 
                        div.cama-almo__front.face 
                        div.cama-almo__back.face 
                        div.cama-almo__right.face 
                        div.cama-almo__left.face 
                        div.cama-almo__top.face 
                        div.cama-almo__bottom.face 
            //---------------------
            div.repisa
                div.repisa-base
                div.repisa-t
                    div.repisa-t__front.face 
                    div.repisa-t__back.face 
                    div.repisa-t__right.face 
                    div.repisa-t__left.face 
                    div.repisa-t__top.face 
                    div.repisa-t__bottom.face 
                div.repisa-b
                    div.repisa-b__front.face 
                    div.repisa-b__back.face 
                    div.repisa-b__right.face 
                    div.repisa-b__left.face 
                    div.repisa-b__top.face 
                    div.repisa-b__bottom.face 
                div.repisa-l
                    div.repisa-l__front.face 
                    div.repisa-l__back.face 
                    div.repisa-l__right.face 
                    div.repisa-l__left.face 
                    div.repisa-l__top.face 
                    div.repisa-l__bottom.face 
                div.repisa-r
                    div.repisa-r__front.face 
                    div.repisa-r__back.face 
                    div.repisa-r__right.face 
                    div.repisa-r__left.face 
                    div.repisa-r__top.face 
                    div.repisa-r__bottom.face 
                div.repisa-c
                    div.repisa-c__front.face 
                    div.repisa-c__back.face 
                    div.repisa-c__right.face 
                    div.repisa-c__left.face 
                    div.repisa-c__top.face 
                    div.repisa-c__bottom.face 
                div.repisa-puertas#repisa
                    div.repisa-puerta.repisa-p
                        div.repisa-puerta__front.face 
                        div.repisa-puerta__back.face 
                        div.repisa-puerta__right.face 
                        div.repisa-puerta__left.face 
                        div.repisa-puerta__top.face 
                        div.repisa-puerta__bottom.face 
                    div.repisa-puerta
                        div.repisa-puerta__front.face 
                        div.repisa-puerta__back.face 
                        div.repisa-puerta__right.face 
                        div.repisa-puerta__left.face 
                        div.repisa-puerta__top.face 
                        div.repisa-puerta__bottom.face 
            //---------------------
            div.buro#buro
                div.fs
                div.buro-t
                    div.buro-t__front.face 
                    div.buro-t__back.face 
                    div.buro-t__right.face 
                    div.buro-t__left.face 
                    div.buro-t__top.face 
                    div.buro-t__bottom.face 
                div.buro-b
                    div.buro-b__front.face 
                    div.buro-b__back.face 
                    div.buro-b__right.face 
                    div.buro-b__left.face 
                    div.buro-b__top.face 
                    div.buro-b__bottom.face 
                div.buro-c
                    div.buro-c__front.face 
                    div.buro-c__back.face 
                    div.buro-c__right.face 
                    div.buro-c__left.face 
                    div.buro-c__top.face 
                    div.buro-c__bottom.face 
                div.buro-l
                    div.buro-l__front.face 
                    div.buro-l__back.face 
                    div.buro-l__right.face 
                    div.buro-l__left.face 
                    div.buro-l__top.face 
                    div.buro-l__bottom.face 
                div.buro-r
                    div.buro-r__front.face 
                    div.buro-r__back.face 
                    div.buro-r__right.face 
                    div.buro-r__left.face 
                    div.buro-r__top.face 
                    div.buro-r__bottom.face       
                div.buro-puertas
                    div.buro-puerta
                        div.buro-puerta__front.face 
                        div.buro-puerta__back.face 
                        div.buro-puerta__right.face.flex 
                            div.manija
                                div.manija__front.face 
                                div.manija__back.face 
                                div.manija__right.face 
                                div.manija__left.face 
                                div.manija__top.face 
                                div.manija__bottom.face
                        div.buro-puerta__left.face 
                        div.buro-puerta__top.face 
                        div.buro-puerta__bottom.face 
                    div.buro-puerta
                        div.buro-puerta__front.face 
                        div.buro-puerta__back.face 
                        div.buro-puerta__right.face.flex
                            div.manija
                                div.manija__front.face 
                                div.manija__back.face 
                                div.manija__right.face 
                                div.manija__left.face 
                                div.manija__top.face 
                                div.manija__bottom.face
                        div.buro-puerta__left.face 
                        div.buro-puerta__top.face 
                        div.buro-puerta__bottom.face 
            //---------------------
            div.bocina#bocina
                div.fs
                div.bocina-l.bocina-a
                    div.bocina-l__front.face 
                    div.bocina-l__back.face 
                    div.bocina-l__right.face 
                    div.bocina-l__left.face 
                    div.bocina-l__top.face 
                    div.oocina-l__bottom.face 
                div.bocina-stereo
                    div.bocina-stereo__front.face 
                    div.bocina-stereo__back.face 
                    div.bocina-stereo__right.face 
                    div.bocina-stereo__left.face 
                    div.bocina-stereo__top.face 
                    div.bocina-stereo__bottom.face 
                div.bocina-r.bocina-a
                    div.bocina-r__front.face 
                    div.bocina-r__back.face 
                    div.bocina-r__right.face 
                    div.bocina-r__left.face 
                    div.bocina-r__top.face 
                    div.oocina-r__bottom.face 
            //---------------------
            div.libros
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--verde
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--amarillo
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                    
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--verde
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--blanco
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                    
                    
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--amarillo
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--azul
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
                div.libro.libro--verde
                    div.libro__front.face 
                    div.libro__back.face 
                    div.libro__right.face 
                    div.libro__left.face 
                    div.libro__top.face 
                    div.libro__bottom.face 
        
            //---------------------
            div.sillon
                div.fs
                div.sillon-l
                    div.sillon-l__front.face 
                    div.sillon-l__back.face 
                    div.sillon-l__right.face 
                    div.sillon-l__left.face 
                    div.sillon-l__top.face 
                    div.sillon-l__bottom.face 
                div.sillon-r
                    div.sillon-r__front.face 
                    div.sillon-r__back.face 
                    div.sillon-r__right.face 
                    div.sillon-r__left.face 
                    div.sillon-r__top.face 
                    div.sillon-r__bottom.face 
                div.sillon-c
                    div.sillon-c__front.face 
                    div.sillon-c__back.face 
                    div.sillon-c__right.face 
                    div.sillon-c__left.face 
                    div.sillon-c__top.face 
                    div.sillon-c__bottom.face 
                div.sillon-c2
                    div.sillon-c2__front.face 
                    div.sillon-c2__back.face 
                    div.sillon-c2__right.face 
                    div.sillon-c2__left.face 
                    div.sillon-c2__top.face 
                    div.sillon-c2__bottom.face 
                div.sillon-b
                    div.sillon-b__front.face 
                    div.sillon-b__back.face 
                    div.sillon-b__right.face 
                    div.sillon-b__left.face 
                    div.sillon-b__top.face 
                    div.sillon-b__bottom.face 
                div.sillon-b2
                    div.sillon-b2__front.face 
                    div.sillon-b2__back.face 
                    div.sillon-b2__right.face 
                    div.sillon-b2__left.face 
                    div.sillon-b2__top.face 
                    div.sillon-b2__bottom.face 
            //---------------------
            div.libreros
                div.librero
                    div.fs
                    div.librero-t
                        div.librero-t__front.face 
                        div.librero-t__back.face 
                        div.librero-t__right.face 
                        div.librero-t__left.face 
                        div.librero-t__top.face 
                        div.librero-t__bottom.face 
                    div.librero-b
                        div.librero-b__front.face 
                        div.librero-b__back.face 
                        div.librero-b__right.face 
                        div.librero-b__left.face 
                        div.librero-b__top.face 
                        div.librero-b__bottom.face 
                    div.librero-m1
                        div.librero-m1__front.face 
                        div.librero-m1__back.face 
                        div.librero-m1__right.face 
                        div.librero-m1__left.face 
                        div.librero-m1__top.face 
                        div.librero-m1__bottom.face 
                    div.librero-m2
                        div.librero-m2__front.face 
                        div.librero-m2__back.face 
                        div.librero-m2__right.face 
                        div.librero-m2__left.face 
                        div.librero-m2__top.face 
                        div.librero-m2__bottom.face 
                    div.librero-m3
                        div.librero-m3__front.face 
                        div.librero-m3__back.face 
                        div.librero-m3__right.face 
                        div.librero-m3__left.face 
                        div.librero-m3__top.face 
                        div.librero-m3__bottom.face 
                    div.librero-l
                        div.librero-l__front.face 
                        div.librero-l__back.face 
                        div.librero-l__right.face 
                        div.librero-l__left.face 
                        div.librero-l__top.face 
                        div.librero-l__bottom.face 
                    div.librero-l1
                        div.librero-l1__front.face 
                        div.librero-l1__back.face 
                        div.librero-l1__right.face 
                        div.librero-l1__left.face 
                        div.librero-l1__top.face 
                        div.librero-l1__bottom.face 
                    div.librero-l2
                        div.librero-l2__front.face 
                        div.librero-l2__back.face 
                        div.librero-l2__right.face 
                        div.librero-l2__left.face 
                        div.librero-l2__top.face 
                        div.librero-l2__bottom.face 
                    div.librero-l3
                        div.librero-l3__front.face 
                        div.librero-l3__back.face 
                        div.librero-l3__right.face 
                        div.librero-l3__left.face 
                        div.librero-l3__top.face 
                        div.librero-l3__bottom.face 
                    div.librero-r
                        div.librero-r__front.face 
                        div.librero-r__back.face 
                        div.librero-r__right.face 
                        div.librero-r__left.face 
                        div.librero-r__top.face 
                        div.librero-r__bottom.face       
           
                div.librero#librero
                    div.fs
                    div.librero-base
                        
                    div.librero-t
                        div.librero-t__front.face 
                        div.librero-t__back.face 
                        div.librero-t__right.face 
                        div.librero-t__left.face 
                        div.librero-t__top.face 
                        div.librero-t__bottom.face 
                    div.librero-b
                        div.librero-b__front.face 
                        div.librero-b__back.face 
                        div.librero-b__right.face 
                        div.librero-b__left.face 
                        div.librero-b__top.face 
                        div.librero-b__bottom.face 
                    div.librero-m1
                        div.librero-m1__front.face 
                        div.librero-m1__back.face 
                        div.librero-m1__right.face 
                        div.librero-m1__left.face 
                        div.librero-m1__top.face 
                        div.librero-m1__bottom.face 
                    div.librero-m2
                        div.librero-m2__front.face 
                        div.librero-m2__back.face 
                        div.librero-m2__right.face 
                        div.librero-m2__left.face 
                        div.librero-m2__top.face 
                        div.librero-m2__bottom.face 
                    div.librero-m3
                        div.librero-m3__front.face 
                        div.librero-m3__back.face 
                        div.librero-m3__right.face 
                        div.librero-m3__left.face 
                        div.librero-m3__top.face 
                        div.librero-m3__bottom.face 
                    div.librero-l
                        div.librero-l__front.face 
                        div.librero-l__back.face 
                        div.librero-l__right.face 
                        div.librero-l__left.face 
                        div.librero-l__top.face 
                        div.librero-l__bottom.face 
                    div.librero-r1
                        div.librero-r1__front.face 
                        div.librero-r1__back.face 
                        div.librero-r1__right.face.flex 
                            div.manija
                                div.manija__front.face 
                                div.manija__back.face 
                                div.manija__right.face 
                                div.manija__left.face 
                                div.manija__top.face 
                                div.manija__bottom.face 
                        div.librero-r1__left.face 
                        div.librero-r1__top.face 
                        div.librero-r1__bottom.face 
                    div.librero-r2
                        div.librero-r2__front.face 
                        div.librero-r2__back.face 
                        div.librero-r2__right.face.flex
                            div.manija
                                div.manija__front.face 
                                div.manija__back.face 
                                div.manija__right.face 
                                div.manija__left.face 
                                div.manija__top.face 
                                div.manija__bottom.face 
                        div.librero-r2__left.face 
                        div.librero-r2__top.face 
                        div.librero-r2__bottom.face 
                    div.librero-r3
                        div.librero-r3__front.face 
                        div.librero-r3__back.face 
                        div.librero-r3__right.face.flex
                            div.manija
                                div.manija__front.face 
                                div.manija__back.face 
                                div.manija__right.face 
                                div.manija__left.face 
                                div.manija__top.face 
                                div.manija__bottom.face 
                        div.librero-r3__left.face 
                        div.librero-r3__top.face 
                        div.librero-r3__bottom.face 
                    div.librero-r
                        div.librero-r__front.face 
                        div.librero-r__back.face 
                        div.librero-r__right.face
                        div.librero-r__left.face 
                        div.librero-r__top.face 
                        div.librero-r__bottom.face       
            div.arbustos
                div.fs
                div.arbusto.flex.face
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                div.arbusto.flex.face
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                div.arbusto2.flex.face
                    div.arbusto2-el.flex.face
                        div.arbusto2-el__front.face 
                        div.arbusto2-el__back.face 
                        div.arbusto2-el__right.face 
                        div.arbusto2-el__left.face 
                        div.arbusto2-el__top.face 
                        div.arbusto2-el__bottom.face 
                    div.arbusto2-el.flex.face
                        div.arbusto2-el__front.face 
                        div.arbusto2-el__back.face 
                        div.arbusto2-el__right.face 
                        div.arbusto2-el__left.face 
                        div.arbusto2-el__top.face 
                        div.arbusto2-el__bottom.face 
                    div.arbusto2-el.flex.face
                        div.arbusto2-el__front.face 
                        div.arbusto2-el__back.face 
                        div.arbusto2-el__right.face 
                        div.arbusto2-el__left.face 
                        div.arbusto2-el__top.face 
                        div.arbusto2-el__bottom.face 
                    div.arbusto2-el.flex.face
                        div.arbusto2-el__front.face 
                        div.arbusto2-el__back.face 
                        div.arbusto2-el__right.face 
                        div.arbusto2-el__left.face 
                        div.arbusto2-el__top.face 
                        div.arbusto2-el__bottom.face 
            div.maceta
                div.fs
                div.maceta-base
                    - let n = 0
                    while n < 15
                        div.maceta-hoja
                        - n++
                
                div.maceta-l
                    div.maceta-l__front.face 
                    div.maceta-l__back.face 
                    div.maceta-l__right.face 
                    div.maceta-l__left.face 
                    div.maceta-l__top.face 
                    div.maceta-l__bottom.face 
                div.maceta-r
                    div.maceta-r__front.face 
                    div.maceta-r__back.face 
                    div.maceta-r__right.face 
                    div.maceta-r__left.face 
                    div.maceta-r__top.face 
                    div.maceta-r__bottom.face 
                div.maceta-t
                    div.maceta-t__front.face 
                    div.maceta-t__back.face 
                    div.maceta-t__right.face 
                    div.maceta-t__left.face 
                    div.maceta-t__top.face 
                    div.maceta-t__bottom.face 
                div.maceta-b
                    div.maceta-b__front.face 
                    div.maceta-b__back.face 
                    div.maceta-b__right.face 
                    div.maceta-b__left.face 
                    div.maceta-b__top.face 
                    div.maceta-b__bottom.face 


    
        script(src="main.js")        
                
                
                
                
                
                
                
                
                
