doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
    
        div.main
            div.lines
                div.line-a
                div.line-b
                div.line-c
                div.line-d
                    
            div.bicy
                
                div.heart
                
                div.dog 
                    div.dog__ear    
                    div.dog__head   
                    div.dog__body
                    div.dog__mouth-a
                    div.dog__mouth-b
                    div.dog__tongue
                        
                div.bicy__wheel-l
                    div.bicy__fender
                div.bicy__wheel-r
                    div.bicy__fender
                div.bicy__ac
                    div.bicy__ac-top
                div.bicy__parts
                    div.bicy__part-a
                    div.bicy__part-b
                    div.bicy__part-c
                    div.bicy__part-d
                    div.bicy__part-e
                    div.bicy__part-f
                    div.bicy__part-g
                div.bicy__basket
                    div.bicy__basket-a
            div.shadows
                div.shadow-a
                div.shadow-b
                div.shadow-c
                div.shadow-d
            div.human
                div.human__c
                    div.human__head
                        div.human__neck
                        div.human__face-a
                        div.human__face-b
                        div.human__nose
                        div.human__hair
                        div.human__cheek
                        div.human__ear
                        div.human__mouth
                        div.human__eye
                    div.human__chest
                    div.human__backpack
                        
                div.human__arm-r
                    div.human__arm-r-a
                div.human__arm-l
                    div.human__arm-l-a
                        
                div.human__leg-r
                    div.human__leg-r-a
                div.human__leg-l
                    div.human__leg-l-a
                    div.human__leg-l-b
    
    
