doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="styles.css")    
    body
        audio#a
            source( src="assets/bioshock.mp3", type="audio/mpeg")
        div.modal#modal
        div.main#h
            div.shadows.face
                div.shadow.shadow1
                div.shadow.shadow2
                div.shadow.shadow3
                div.shadow.shadow4
                div.light.light1
                div.light.light2
                div.light.light3
            
            div.floor
                div.floor__front.face 
                div.floor__back.face 
                div.floor__right.face 
                div.floor__left.face 
                div.floor__top.face 
                    div.shadows
                    div.light-1    
                    div.light-2    
                    div.light-3    
                    div.light-4  
                    div.shadow-1  
                    div.shadow-2  
                    div.neon-line
                        div.neon-group
                            div.neon
                            div.neon
                            div.neon
                            div.neon
                        div.neon-group
                            div.neon
                            div.neon
                            div.neon
                            div.neon  
                div.floor__bottom.face  
            div.wall-a
                div.wall-a__front.face 
                div.wall-a__back.face 
                div.wall-a__right.face 
                    div.light.light-1
                    div.light.light-2
                    div.light.light-3
                    div.light.light-4
                    div.light.light-5
                    div.light.light-6
                    div.light.light-7
                div.wall-a__left.face 
                div.wall-a__top.face 
                //- div.wall-a__bottom.face  
            div.wall-b
                div.wall-b__front.face 
                    div.light.light-1
                    div.light.light-2
                    div.light.light-3
                        
                div.wall-b__back.face 
                div.wall-b__right.face 
                //- div.wall-b__left.face 
                div.wall-b__top.face 
                //- div.wall-b__bottom.face  
            div.speaker-a
                div.speaker-a__front.face 
                div.speaker-a__back.face 
                div.speaker-a__right.face 
                div.speaker-a__left.face 
                div.speaker-a__top.face 
                div.speaker-a__bottom.face  
            div.speaker-b
                div.speaker-b__front.face 
                div.speaker-b__back.face 
                div.speaker-b__right.face 
                div.speaker-b__left.face 
                div.speaker-b__top.face 
                div.speaker-b__bottom.face  
            div.pic-a#bioshock
                div.pic-a__front.face 
                div.pic-a__back.face 
                div.pic-a__right.face 
                    img(src="assets/b1.jpg")
                //- div.pic-a__left.face 
                div.pic-a__top.face 
                div.pic-a__bottom.face  
            div.pic-b
                div.pic-b__front.face 
                div.pic-b__back.face 
                div.pic-b__right.face 
                    img(src="assets/b2.jpeg")
                //- div.pic-b__left.face 
                div.pic-b__top.face 
                div.pic-b__bottom.face  
            div.pic-c
                div.pic-c__front.face 
                div.pic-c__back.face 
                div.pic-c__right.face 
                    img(src="assets/b3.jpg")
                //- div.pic-c__left.face 
                div.pic-c__top.face 
                div.pic-c__bottom.face  
            div.sofa
                div.sofa-a
                    div.sofa-a__front.face 
                    div.sofa-a__back.face 
                    div.sofa-a__right.face 
                    div.sofa-a__left.face 
                    div.sofa-a__top.face 
                    //- div.sofa-a__bottom.face  
                div.sofa-b
                    div.sofa-b__front.face 
                    div.sofa-b__back.face 
                    div.sofa-b__right.face 
                    div.sofa-b__left.face 
                    div.sofa-b__top.face 
                    //- div.sofa-b__bottom.face  
                div.sofa-c
                    div.sofa-c__front.face 
                    div.sofa-c__back.face 
                    div.sofa-c__right.face 
                    div.sofa-c__left.face 
                    div.sofa-c__top.face 
                    //- div.sofa-c__bottom.face  
                div.sofa-d
                    div.sofa-d__front.face 
                    div.sofa-d__back.face 
                    div.sofa-d__right.face 
                    div.sofa-d__left.face 
                    div.sofa-d__top.face 
                    //- div.sofa-d__bottom.face  
                div.sofa-e
                    div.sofa-e__front.face 
                    div.sofa-e__back.face 
                    div.sofa-e__right.face 
                    div.sofa-e__left.face 
                    div.sofa-e__top.face 
                    //- div.sofa-e__bottom.face  
                div.sofa-f
                    div.sofa-f__front.face 
                    div.sofa-f__back.face 
                    div.sofa-f__right.face 
                    div.sofa-f__left.face 
                    div.sofa-f__top.face 
                    div.sofa-f__bottom.face  

            div.forniture
                div.forniture-1    
                    div.forniture-1a
                        div.forniture-1a__front.face 
                        div.forniture-1a__back.face 
                        div.forniture-1a__right.face 
                        div.forniture-1a__left.face 
                        div.forniture-1a__top.face 
                        div.forniture-1a__bottom.face  
                    div.forniture-1b
                        div.forniture-1b__front.face 
                        div.forniture-1b__back.face 
                        div.forniture-1b__right.face 
                        div.forniture-1b__left.face 
                        div.forniture-1b__top.face 
                        div.forniture-1b__bottom.face  
                    div.forniture-1c
                        div.forniture-1c__front.face 
                        div.forniture-1c__back.face 
                        div.forniture-1c__right.face 
                        div.forniture-1c__left.face 
                        div.forniture-1c__top.face 
                        div.forniture-1c__bottom.face  
                    div.forniture-1d
                        div.forniture-1d__front.face 
                        div.forniture-1d__back.face 
                        div.forniture-1d__right.face 
                        div.forniture-1d__left.face 
                        div.forniture-1d__top.face 
                        div.forniture-1d__bottom.face  
            div.screen#screen
                div.screen__front.face 
                    img(src="assets/gif.gif")#img
                    video(autoplay mute)#video.is-element-hidden
                        source(src="assets/bioshock.mp4" type="video/mp4")
                div.screen__back.face 
                div.screen__right.face 
                div.screen__left.face 
                div.screen__top.face 
                div.screen__bottom.face   
                
            div.neon-lines
                div.neon-line
                    div.neon-group
                        div.neon
                        div.neon
                        div.neon
                        div.neon
                    div.neon-group
                        div.neon
                        div.neon
                        div.neon
                        div.neon
                div.neon-line
                    div.neon-group
                        div.neon
                        div.neon
                        div.neon
                        div.neon
                    div.neon-group
                        div.neon
                        div.neon
                        div.neon
                        div.neon
                div.neon-line
                    div.neon-group
                        div.neon
                        div.neon
                    div.neon-group
                        div.neon
                        div.neon
                div.neon-line
                    div.neon-group
                        div.neon
                        div.neon
                    div.neon-group
                        div.neon
                        div.neon
                   
        script(src="index.js")                        
                            
                            
                        
                    
        
                        
                                
        
    
                
                
                
                
                
