doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")            
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:700&display=swap" rel="stylesheet">
    body
        div.main.flex#main
            div.cine#cine
                //--------------
                div.floor.flex
                    div.floor__front.face
                    div.floor__back.face
                    div.floor__right.face
                    div.floor__left.face
                    div.floor__top.face

                        div.chairs#1
                            - var n = 1;
                                while n < 6
                                    div.chair.flex    
                                        div.chair-b.flex
                                            div.chair-b__front.face
                                            div.chair-b__back.face
                                            div.chair-b__right.face
                                            div.chair-b__left.face
                                            div.chair-b__top.face
                                            div.chair-b__bottom.face 
                                        div.chair-t.flex
                                            div.chair-t__front.face
                                            div.chair-t__back.face
                                            div.chair-t__right.face
                                            div.chair-t__left.face
                                            div.chair-t__top.face
                                            div.chair-t__bottom.face        
                                        div.chair-bs.flex 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                    - n++
                        div.chairs#2
                            - var n = 1;
                                while n < 6
                                    div.chair.flex    
                                        div.chair-b.flex
                                            div.chair-b__front.face
                                            div.chair-b__back.face
                                            div.chair-b__right.face
                                            div.chair-b__left.face
                                            div.chair-b__top.face
                                            div.chair-b__bottom.face 
                                        div.chair-t.flex
                                            div.chair-t__front.face
                                            div.chair-t__back.face
                                            div.chair-t__right.face
                                            div.chair-t__left.face
                                            div.chair-t__top.face
                                            div.chair-t__bottom.face        
                                        div.chair-bs.flex 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                    - n++
                        div.chairs#3
                            - var n = 1;
                                while n < 6
                                    div.chair.flex    
                                        div.chair-b.flex
                                            div.chair-b__front.face
                                            div.chair-b__back.face
                                            div.chair-b__right.face
                                            div.chair-b__left.face
                                            div.chair-b__top.face
                                            div.chair-b__bottom.face 
                                        div.chair-t.flex
                                            div.chair-t__front.face
                                            div.chair-t__back.face
                                            div.chair-t__right.face
                                            div.chair-t__left.face
                                            div.chair-t__top.face
                                            div.chair-t__bottom.face        
                                        div.chair-bs.flex 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                    - n++
                        div.chairs#4
                            - var n = 1;
                                while n < 6
                                    div.chair.flex    
                                        div.chair-b.flex
                                            div.chair-b__front.face
                                            div.chair-b__back.face
                                            div.chair-b__right.face
                                            div.chair-b__left.face
                                            div.chair-b__top.face
                                            div.chair-b__bottom.face 
                                        div.chair-t.flex
                                            div.chair-t__front.face
                                            div.chair-t__back.face
                                            div.chair-t__right.face
                                            div.chair-t__left.face
                                            div.chair-t__top.face
                                            div.chair-t__bottom.face        
                                        div.chair-bs.flex 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                    - n++
                        div.chairs#5
                            - var n = 1;
                                while n < 6
                                    div.chair.flex    
                                        div.chair-b.flex
                                            div.chair-b__front.face
                                            div.chair-b__back.face
                                            div.chair-b__right.face
                                            div.chair-b__left.face
                                            div.chair-b__top.face
                                            div.chair-b__bottom.face 
                                        div.chair-t.flex
                                            div.chair-t__front.face
                                            div.chair-t__back.face
                                            div.chair-t__right.face
                                            div.chair-t__left.face
                                            div.chair-t__top.face
                                            div.chair-t__bottom.face        
                                        div.chair-bs.flex 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                            div.chair-ba.flex
                                                div.chair-ba__front.face
                                                div.chair-ba__back.face
                                                div.chair-ba__right.face
                                                div.chair-ba__left.face
                                                div.chair-ba__top.face
                                                div.chair-ba__bottom.face 
                                    - n++
                                                            
                    div.floor__bottom.face
                        
                div.floor-a.flex
                    div.floor-a__front.face
                    div.floor-a__back.face
                    div.floor-a__right.face
                    div.floor-a__left.face
                    div.floor-a__top.face
                    div.floor-a__bottom.face
                        
                div.steps.flex
                    div.step-a.flex
                        div.step-a__front.face
                        div.step-a__back.face
                        div.step-a__right.face
                        div.step-a__left.face
                        div.step-a__top.face
                        div.step-a__bottom.face
                    div.step-b.flex
                        div.step-b__front.face
                        div.step-b__back.face
                        div.step-b__right.face
                        div.step-b__left.face
                        div.step-b__top.face
                        div.step-b__bottom.face
                    div.step-c.flex
                        div.step-c__front.face
                        div.step-c__back.face
                        div.step-c__right.face
                        div.step-c__left.face
                        div.step-c__top.face
                        div.step-c__bottom.face
                    div.step-d.flex
                        div.step-d__front.face
                        div.step-d__back.face
                        div.step-d__right.face
                        div.step-d__left.face
                        div.step-d__top.face
                        div.step-d__bottom.face
                            
                div.steps.steps-b.flex
                    div.step-a.flex
                        div.step-a__front.face
                        div.step-a__back.face
                        div.step-a__right.face
                        div.step-a__left.face
                        div.step-a__top.face
                        div.step-a__bottom.face
                    div.step-b.flex
                        div.step-b__front.face
                        div.step-b__back.face
                        div.step-b__right.face
                        div.step-b__left.face
                        div.step-b__top.face
                        div.step-b__bottom.face
                    div.step-c.flex
                        div.step-c__front.face
                        div.step-c__back.face
                        div.step-c__right.face
                        div.step-c__left.face
                        div.step-c__top.face
                        div.step-c__bottom.face
                //--------------
                div.wall-l.flex
                    div.wall-l__front.face
                    div.wall-l__back.face
                    div.wall-l__right.face.flex            
                    div.wall-l__left.face
                    div.wall-l__top.face
                    div.wall-l__bottom.face
                        
                div.wall-r.flex
                    div.wall-r__front.face.flex
                        div.screen.flex
                            video#video( width="100%")
                                source(src="movie2.mp4" type="video/webm")
    
                    div.wall-r__back.face
                    div.wall-r__right.face
                    div.wall-r__left.face
                    div.wall-r__top.face
                    div.wall-r__bottom.face

                //--------------
                div.lamps
                    
                    div.lamp.flex
                        div.lamp-t.flex
                            div.lamp-t__front.face
                            div.lamp-t__back.face
                            div.lamp-t__right.face
                            div.lamp-t__left.face
                            div.lamp-t__top.face
                            div.lamp-t__bottom.face    
                        div.lamp-b.flex
                            div.lamp-b__front.face
                            div.lamp-b__back.face
                            div.lamp-b__right.face
                            div.lamp-b__left.face
                            div.lamp-b__top.face
                            div.lamp-b__bottom.face  
                              
                    div.lamp.flex
                        div.lamp-t.flex
                            div.lamp-t__front.face
                            div.lamp-t__back.face
                            div.lamp-t__right.face
                            div.lamp-t__left.face
                            div.lamp-t__top.face
                            div.lamp-t__bottom.face    
                        div.lamp-b.flex
                            div.lamp-b__front.face
                            div.lamp-b__back.face
                            div.lamp-b__right.face
                            div.lamp-b__left.face
                            div.lamp-b__top.face
                            div.lamp-b__bottom.face  
                              
                    div.lamp.flex
                        div.lamp-t.flex
                            div.lamp-t__front.face
                            div.lamp-t__back.face
                            div.lamp-t__right.face
                            div.lamp-t__left.face
                            div.lamp-t__top.face
                            div.lamp-t__bottom.face    
                        div.lamp-b.flex
                            div.lamp-b__front.face
                            div.lamp-b__back.face
                            div.lamp-b__right.face
                            div.lamp-b__left.face
                            div.lamp-b__top.face
                            div.lamp-b__bottom.face  
                            
                //--------------
        div.buttons
            button.button#play(type="button") Start movie 
                img.button__icon(src="play.svg")
            button.button#stop(type="button" disabled) Stop movie
                img.button__icon(src="stop.svg")
            
        script(src="main.js")
