doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body
        audio#audio
            source(src="printer.mp3",type="audio/mpeg")
        div.shadows#shadows
            div.shadow-1.face
            div.shadow-2.face
            div.shadow-3.face
            div.shadow-4.face
            div.inside-shadow
        div.printer#printer
        
            div.paper-shadow.face#paper-shadow
            div.paper#paper 
            //-----------------------    
            div.at
                div.at__front.face 
                div.at__back.face 
                div.at__right.face 
                div.at__left.face 
                div.at__top.face 
                div.at__bottom.face 
            div.ab
                div.ab__front.face 
                div.ab__back.face 
                div.ab__right.face 
                div.ab__left.face 
                div.ab__top.face 
                div.ab__bottom.face 
            div.am
                div.am__front.face 
                div.am__back.face 
                div.am__right.face 
                div.am__left.face 
                div.am__top.face 
                div.am__bottom.face 
            //-----------------------    
            div.bl
                div.bl__front.face 
                div.bl__back.face 
                div.bl__right.face 
                div.bl__left.face 
                div.bl__top.face 
                div.bl__bottom.face 
            div.br
                div.br__front.face 
                div.br__back.face 
                div.br__right.face 
                div.br__left.face 
                div.br__top.face 
                div.br__bottom.face 
            div.bb
                div.bb__front.face 
                div.bb__back.face 
                div.bb__right.face 
                div.bb__left.face 
                div.bb__top.face 
                div.bb__bottom.face 
            div.bt
                div.bt__front.face 
                div.bt__back.face 
                div.bt__right.face 
                div.bt__left.face 
                div.bt__top.face 
                div.bt__bottom.face 
            //-----------------------    
            div.cl
                div.cl__front.face 
                div.cl__back.face 
                div.cl__right.face 
                div.cl__left.face 
                div.cl__top.face 
                div.cl__bottom.face 
            div.cr
                div.cr__front.face 
                div.cr__back.face 
                div.cr__right.face 
                div.cr__left.face 
                div.cr__top.face 
                div.cr__bottom.face 
            div.cm
                div.cm__front.face 
                    div.screen
                        div.screen__text#text printing
                    div.buttons
                        div.button.button--cta
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face 
                        div.button
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face 
                        div.button
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face 
                        div.button
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face 
                        div.button.button--cta
                            div.button__front.face 
                            div.button__back.face 
                            div.button__right.face 
                            div.button__left.face 
                            div.button__top.face 
                            div.button__bottom.face 
                        div.large#button
                            div.large__front.face  
                            div.large__back.face 
                            div.large__right.face 
                            div.large__left.face 
                            div.large__top.face start
                            div.large__bottom.face 
                div.cm__back.face 
                div.cm__right.face 
                div.cm__left.face 
                div.cm__top.face 
                div.cm__bottom.face 
            div.ct
                div.ct__front.face 
                div.ct__back.face 
                div.ct__right.face 
                div.ct__left.face 
                div.ct__top.face 
                div.ct__bottom.face 
            div.cb
                div.cb__front.face 
                div.cb__back.face 
                div.cb__right.face 
                div.cb__left.face 
                div.cb__top.face 
                div.cb__bottom.face 
            div.cbl
                div.cbl__front.face 
                div.cbl__back.face 
                div.cbl__right.face 
                div.cbl__left.face 
                div.cbl__top.face 
                div.cbl__bottom.face 
            div.cbr
                div.cbr__front.face 
                div.cbr__back.face 
                div.cbr__right.face 
                div.cbr__left.face 
                div.cbr__top.face 
                div.cbr__bottom.face 

            
        script(src="main.js")
