doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body
        
        div.main
            div.l
                div.l__face.l__face--front
                    div.l__control
                    div.l__control
                    div.l__buttons
                        div.l__button
                        div.l__button
                        div.l__button
                    div.l__c1
                        div.l__c2
                            div.l__clothes
                                div.l__clothes-i
                                div.l__clothes-i
                            
                div.l__face.l__face--back
                div.l__face.l__face--right
                div.l__face.l__face--left
                div.l__face.l__face--top
                div.l__face.l__face--bottom
                    
            div.s
                div.l__face.s__shadow
