doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="styles.css")  
    body
        
        mixin link()
            div(class!=attributes.class)
                div(class!=attributes.class+'__front face')
                    if block
                        block
                div(class!=attributes.class+'__back face')
                div(class!=attributes.class+'__right face')
                div(class!=attributes.class+'__left face')
                div(class!=attributes.class+'__top face')
                div(class!=attributes.class+'__bottom face')
                    
        audio#a
            source(src="audio.mp3", type="audio/mpeg")
        
        div.main#h
            div.shadows

            .waves
                - var i = 0
                while i < 7
                    .wave
                    - i++
        
    
            +link(class="a")
            +link(class="b01")
            +link(class="b02")
            +link(class="b03")
            +link(class="b04")
            +link(class="cs")
            
            div.sphere.flex
                div.circle
                - var i = 1
                while i < 10
                    div(class='sphere-item'+i)
                        - var f = 0
                        while f < 12
                            div(class='sphere-item'+i+'__side')
                            - f++
                    - i++
            div.sphere2.flex
                div.circle
                - var i = 1
                while i < 10
                    div(class='sphere-item'+i)
                        - var f = 0
                        while f < 12
                            div(class='sphere-item'+i+'__side')
                            - f++
                    - i++
            
            +link(class="c")
                div
                    <svg height="448" width="2500" viewBox="0.996 1 498.004 87.678" class="sony"><path d="M178.416 88.677c-18.04 0-34.786-5.41-45.964-15.443-8.445-7.58-12.503-17.876-12.503-28.473 0-10.468 4.233-20.835 12.502-28.375C142.832 6.925 161.16 1 178.416 1c19.096 0 34.38 4.81 46.064 15.412 8.313 7.544 12.332 17.865 12.332 28.35 0 10.163-4.265 20.986-12.332 28.472-10.88 10.098-27.978 15.443-46.064 15.443V77.113c9.575 0 18.457-3.306 24.66-9.478 6.16-6.13 9.03-13.665 9.03-22.874 0-8.822-3.096-17.07-9.03-22.92-6.12-6.028-15.214-9.42-24.66-9.42-9.475 0-18.575 3.357-24.7 9.42-5.902 5.848-9.006 14.12-9.006 22.92 0 8.773 3.14 17.04 9.006 22.875 6.13 6.098 15.198 9.478 24.7 9.478v11.564zM46.562 1.042c-9.65 0-20.613 1.805-29.928 5.965C8.037 10.843 1 17.047 1 27.332.996 36.595 6.883 42.02 6.723 41.87c2.504 2.305 6.535 6.23 17.074 8.535 4.71 1.03 14.78 2.612 24.808 3.66 9.954 1.05 19.75 2.048 23.74 3.058 3.17.807 8.495 1.906 8.495 7.88 0 5.95-5.61 7.766-6.585 8.16-.974.385-7.704 3.473-19.802 3.473-8.932 0-19.67-2.686-23.584-4.086-4.512-1.606-9.245-3.73-13.66-9.123-1.098-1.337-2.83-5.014-2.83-8.655H3.43v30.68H15.6v-4.145c0-.472.59-2.413 2.633-1.49 2.542 1.155 10.004 4.126 17.806 5.755 6.397 1.338 10.522 2.297 18.475 2.297 12.976 0 19.947-2.114 24.766-3.49 4.54-1.3 10.15-3.634 14.707-7.268 2.468-1.965 7.88-7.002 7.88-16.145 0-8.776-4.71-14.223-6.367-15.88-2.257-2.258-5.014-4.008-7.887-5.357-2.503-1.178-6.453-2.593-9.685-3.384-6.273-1.54-20.457-3.44-27.24-4.15-7.113-.743-19.452-1.765-24.38-3.29-1.494-.463-4.54-1.914-4.54-5.45 0-2.515 1.393-4.647 4.146-6.37 4.37-2.738 13.197-4.44 22.398-4.44 10.878-.04 20.09 2.447 25.95 5.067 1.993.89 4.325 2.168 6.177 3.68 2.09 1.704 5.024 5.245 6.085 10.184h9.83V4.87H85.378v3.104c0 1.002-1.035 2.304-2.992 1.228-4.912-2.577-18.8-8.137-35.826-8.16m240.536 4.853l53.542 48.32-.55-32.533c-.054-4.266-.84-6.047-5.454-6.047h-10.067V5.903h45.78v9.732h-9.82c-4.706 0-5.003 1.505-5.06 6.047l.83 62.163h-15.678l-61.67-55.04.013 39.062c.054 4.246.253 6.246 4.628 6.246h10.995v9.728h-44.96v-9.727h10.51c3.926 0 3.77-3.743 3.77-6.468V22.052c0-2.943-.413-6.41-6.577-6.41H248.8V5.895zm135.564 68.2c.43 0 2.34-.055 2.71-.168a3.358 3.358 0 0 0 2.106-1.87c.14-.33.21-1.79.21-2.107l.008-15.38c0-.37-.027-.53-.655-1.354-.69-.9-28.045-31.9-29.297-33.265-1.555-1.695-4.285-4.315-8.433-4.315h-9.513V5.9h53.687v9.724h-6.472c-1.497 0-2.492 1.42-1.213 2.998 0 0 18.063 21.607 18.234 21.833.168.23.312.285.542.075.226-.215 18.516-21.71 18.66-21.88.87-1.042.28-3.015-1.595-3.015H455V5.9h44v9.735h-9.83c-3.566 0-5.017.66-7.7 3.693-1.227 1.388-28.874 32.945-29.626 33.8-.394.447-.36 1.07-.36 1.44v15.378c0 .312.07 1.774.21 2.102a3.349 3.349 0 0 0 2.11 1.87c.37.114 2.254.17 2.683.17h10.055v9.734h-53.41v-9.735l9.53.008z"/></svg>
                    
                
                    svg(width='200', height='120', viewBox='0 0 192.756 192.756').name
                        g(fill-rule='evenodd', clip-rule='evenodd')
                            path(fill='transparent', d='M0 0h192.756v192.756H0V0z')
                            path(d='M166.887 93.083v17.648h6.256l-.016-17.689c0-2.913 2.344-5.317 5.258-5.317s5.277 2.404 5.277 5.317l.004 17.699h6.256l-.01-17.68c0-6.351-5.176-11.522-11.527-11.522s-11.498 5.192-11.498 11.544c0 .029 0-.03 0 0zM89.271 81.915l-6.24-.009.002 28.885h6.255l-.017-28.876zM39.224 93.013l.001 17.772h6.256l-.018-17.812c0-2.914 2.345-5.318 5.259-5.318S56 90.059 56 92.973l.003 17.812h6.255l-.008-17.794c0-6.351-5.176-11.522-11.527-11.522-6.351 0-11.499 5.193-11.499 11.544 0 .029-.001-.029 0 0z')
                            path(d='M50.706 101.586a4.445 4.445 0 1 0 0-8.89 4.445 4.445 0 0 0 0 8.89zM125.385 91.396c0-2.095 1.748-3.768 3.844-3.768s3.775 1.698 3.775 3.793l.01 19.371h6.143l.002-19.437c0-5.5-4.459-9.958-9.957-9.958-2.629 0-4.973 1.195-6.764 2.911a9.899 9.899 0 0 0-7.002-2.897c-5.5 0-10.082 4.458-10.082 9.958l-.023 19.431h6.293l-.01-19.365c0-2.096 1.754-3.794 3.85-3.794s3.775 1.698 3.775 3.794l.01 19.353h6.143l-.007-19.392zM81.341 104.592l-9.659-.01c-.311 0-.604-.24-.604-.553l-.023-22.116-6.246-.003.005 22.109c0 3.732 3.125 6.773 6.857 6.773l9.668.02.002-6.22zM141.697 93.005l.002 17.772h6.254l-.016-17.813c0-2.913 2.344-5.317 5.258-5.317s5.277 2.404 5.277 5.317l.004 17.813h6.256l-.01-17.793c0-6.352-5.176-11.523-11.527-11.523s-11.498 5.193-11.498 11.544c0 .03 0-.029 0 0z')
                            path(d='M153.178 101.578a4.445 4.445 0 1 0-4.445-4.445 4.445 4.445 0 0 0 4.445 4.445zM22.89 101.361c0 2.094 1.748 3.768 3.843 3.768s3.789-1.699 3.789-3.795l.01-19.371h6.128l.002 19.438c0 5.5-4.458 9.959-9.958 9.959-2.627 0-4.971-1.195-6.762-2.912a9.904 9.904 0 0 1-7.003 2.898c-5.499 0-10.081-4.459-10.081-9.959l-.024-19.43h6.294l-.01 19.363c0 2.096 1.755 3.793 3.85 3.793s3.774-1.697 3.774-3.793l.01-19.353h6.143l-.005 19.394zM89.267 92.988l3.04.017c2.67 0 4.828-2.393 4.828-5.063l-.01-6.042 5.799-.005-.006 5.751c-.105 3.332-1.795 6.353-4.332 8.284 2.51 1.934 4.178 4.934 4.281 8.242l.006 6.549-5.805.01.008-6.854c0-2.672-2.157-5.064-4.827-5.064l-2.95.016-.012 11.963h-6.255l-.002-28.885 6.24.009.007 11.071-.01.001z')
                                    
            
            +link(class="d01")
            +link(class="d02")
            +link(class="d03")
            +link(class="d04")
            +link(class="d05")
            +link(class="d06")
            +link(class="line")
            +link(class="button")
            +link(class="button2")
            +link(class="button3")
            +link(class="button4")
            +link(class="button5")
            +link(class="button6")
            +link(class="button7")
            
            
            
        
                   
        script(src="index.js")                        
                            
                            
                        
                    
        
                        
                                
        
    
                
                
                
                
                
