doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body
        audio#audio
            source(src="song.mp3",type="audio/mpeg")
        div.orejas#orejas
            div.oreja-l#oreja-l
            div.oreja-r#oreja-r
        div.pokecenter#pokecenter
            div.onda#onda
            div.arbustos
                div.arbusto.flex.face
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                div.arbusto.flex.face
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face   
                div.arbusto.flex.face
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face 
                    div.arbusto-el.flex.face
                        div.arbusto-el__front.face 
                        div.arbusto-el__back.face 
                        div.arbusto-el__right.face 
                        div.arbusto-el__left.face 
                        div.arbusto-el__top.face 
                        div.arbusto-el__bottom.face   
                div.cola.cola-t#cola
                    div.cola__front.cola-t.face 
                    div.cola__back.cola-t.face 
                    div.cola__right.cola-t.face 
                    div.cola__left.cola-t.face 
                    div.cola__top.cola-t.face 
                    div.cola__bottom.cola-t.face     
            div.container
                div.shadows
                    div.shadow-a
                    div.shadow-b
                div.base-a
                    div.base-a__front.face 
                        div.base-a__line    
                    div.base-a__back.face 
                        div.base-a__line        
                    div.base-a__right.face 
                    div.base-a__left.face 
                    div.base-a__top.face 
                    div.base-a__bottom.face 
                div.base-b
                    div.base-b__front.face 
                        div.base-b__logo.face 
                    div.base-b__back.face 
                    div.base-b__right.face 
                    div.base-b__left.face 
                    div.base-b__top.face 
                        div.base-b__techo.face 
                    div.base-b__bottom.face 
                div.ventana-a
                    div.ventana-a__front.face 
                    div.ventana-a__back.face 
                    div.ventana-a__right.face 
                    div.ventana-a__left.face 
                    div.ventana-a__top.face 
                    div.ventana-a__bottom.face 
                div.ventana-b
                    div.ventana-b__front.face 
                    div.ventana-b__back.face 
                    div.ventana-b__right.face 
                    div.ventana-b__left.face 
                    div.ventana-b__top.face 
                    div.ventana-b__bottom.face     
                div.wheel.flex.face
                    div.wheel-el.flex.face
                        div.wheel-el__front.face 
                        div.wheel-el__back.face 
                        div.wheel-el__right.face 
                        div.wheel-el__left.face 
                        div.wheel-el__top.face 
                        div.wheel-el__bottom.face 
                    div.wheel-el.flex.face
                        div.wheel-el__front.face 
                        div.wheel-el__back.face 
                        div.wheel-el__right.face 
                        div.wheel-el__left.face 
                        div.wheel-el__top.face 
                        div.wheel-el__bottom.face 
                    div.wheel-el.flex.face
                        div.wheel-el__front.face 
                        div.wheel-el__back.face 
                        div.wheel-el__right.face 
                        div.wheel-el__left.face 
                        div.wheel-el__top.face 
                        div.wheel-el__bottom.face 
                    div.wheel-el.flex.face
                        div.wheel-el__front.face 
                        div.wheel-el__back.face 
                        div.wheel-el__right.face 
                        div.wheel-el__left.face 
                        div.wheel-el__top.face 
                        div.wheel-el__bottom.face
                div.wheel-shadow
                div.puerta
                    div.puerta-a
                        div.puerta-a__front.face 
                        div.puerta-a__back.face 
                        div.puerta-a__right.face 
                        div.puerta-a__left.face 
                        div.puerta-a__top.face 
                        div.puerta-a__bottom.face 
                    div.puerta-b
                        div.puerta-b__front.face 
                        div.puerta-b__back.face 
                        div.puerta-b__right.face 
                        div.puerta-b__left.face 
                        div.puerta-b__top.face 
                        div.puerta-b__bottom.face 
                    div.puerta-c
                        div.puerta-c__front.face 
                        div.puerta-c__back.face 
                        div.puerta-c__right.face 
                        div.puerta-c__left.face 
                        div.puerta-c__top.face 
                        div.puerta-c__bottom.face 
                    div.puerta-d
                        div.puerta-d__front.face 
                        div.puerta-d__back.face 
                        div.puerta-d__right.face 
                        div.puerta-d__left.face 
                        div.puerta-d__top.face 
                        div.puerta-d__bottom.face 
            
            

    
        script(src="main.js")
