doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
    
        div.main
            div.nubes
                div.nube
                    div.nube-1
                    div.nube-2
                div.nube
                    div.nube-1
                    div.nube-2

            div.pajaro
                div.pajaro-1.pajaro-i
                div.pajaro-2.pajaro-i
                div.pajaro-3.pajaro-i
            div.suelo
                div.bote
                    div.colores-1.colores-i
                    div.colores-2.colores-i
                    div.colores-3.colores-i
                    div.colores-4.colores-i
                    div.colores-5.colores-i
                div.bote 
    
            div.humano
                div.humano-pi.humano-i
                div.humano-pd.humano-i
                div.humano-pdt.humano-i
                div.humano-mandila.humano-i
                div.humano-cuerpo.humano-i
                    div.humano-cuerpoa.humano-i
                div.humano-bd.humano-i
                div.humano-ad.humano-i
                    div.humano-md.humano-i
                div.humano-mandilb.humano-i
                div.humano-bi.humano-i
                div.humano-mi.humano-i
                div.humano-head.humano-i
                    div.humano-head1.humano-i
                    div.humano-head2.humano-i
                    div.humano-head3.humano-i
                    div.humano-head4.humano-i
                    div.humano-head5.humano-i
                    div.humano-head6.humano-i
                    div.humano-head7.humano-i
                    div.humano-head8.humano-i
                    div.humano-head9.humano-i
                    div.humano-head10.humano-i
            div.lienzo
                div.lienzo-1.lienzo-i
                div.lienzo-2.lienzo-i
                div.lienzo-3.lienzo-i
                div.lienzo-4.lienzo-i
            div.silla
                div.silla-1.silla-i
                div.silla-2.silla-i
                div.silla-3.silla-i
                div.silla-4.silla-i
                div.silla-5.silla-i
                div.silla-6.silla-i
                div.silla-7.silla-i
                div.silla-8.silla-i
                div.silla-9.silla-i
                div.silla-10.silla-i
        
