doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        meta(charset="utf-8")
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap" rel="stylesheet">
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        div.pattern
            span.pattern__score#score 0M

        div.main
            div.bmo
                div.face
                    div.face__l
                    div.face__eye
                    div.face__mouth
                    div.face__eye
                
                div.control
                    div.control__plus
                    div.control__plus
                    div.control__button
                    div.control__button
                        
                div.line
                    div.ln.line__1
                    div.ln.line__2
                    div.ln.line__3
                    div.ln.line__3
                    div.ln.line__3
                            
                div.head
                
                div.drop
                div.arm.arm-l
                div.arm.arm-r
                div.leg.leg-l
                div.leg.leg-r
            
        div.floor  
    
        script(src="main.js")
