doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        div.main
            div.human
                div.human__legs
                    div.human__b
                    div.human__leg.human__leg--left
                    div.human__leg.human__leg--right
                        
                div.human__arms
                    div.human__t
                    div.human__arm.human__arm--left
                    div.human__forearm.human__forearm--left
                        
                    div.human__arm.human__arm--right
                    div.human__forearm.human__forearm--right
                        
                        
                div.human__head
                    div.human__helmet
                    div.human__face
                        div.human__ear.human__ear--left
                        div.human__ear.human__ear--right
                        
            div.bike
                div.bike__handle
                div.bike__seat
                div.bike__wheel
                    
            div.city
                div.city__b1
                div.city__b2
                div.city__b3
                    
            div.trees
                div.tree.tree--l1
                div.tree.tree--l2
                div.tree.tree--l3
                div.tree.tree--r1
                div.tree.tree--r2
                div.tree.tree--r3
                
            div.clouds 
                div.cloud                            
                div.cloud
                    
                        
