doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="main.css")

    body
        div.filter
        div.light
        div.main
            div.face
                - var n = 1
                while n < 14
                    div.face-i
                    - n++
            div.hair
                - var n = 1
                while n < 9
                    div.hair-i
                    - n++
            div.neck
                - var n = 1
                while n < 6
                    div.neck-i
                    - n++
            div.fc
                - var n = 1
                while n < 41
                    div.fc-i
                    - n++
            div.shirt
                - var n = 1
                while n < 10
                    div.shirt-i
                    - n++
            div.body
                - var n = 1
                while n < 16
                    div.body-i
                    - n++
            div.arm
                - var n = 1
                while n < 6
                    div.arm-i
                    - n++
            div.hand
                - var n = 1
                while n < 31
                    div.hand-i
                    - n++
                    
            div.micro-a
            div.micro-b
            
                
                
    
            
